{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Shoeneakers, 발매정보, 스니커즈, 한정판 신발, 한정판 스니커즈, 나이키, 뉴발란스, 아디다스, 한정판 신발 응모, 한정판 신발 발매 정보, 한정판 거래, 조던, 이지부스트, Sneakers, nike, jordan">
    {% block title %}
    {% endblock %}
    <link rel="icon" href="{% static 'draw/necessary/shoeneakers_favicon.svg' %}">
    
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'draw/css/normalize.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/shoeneakers.css' %}" media="screen">

    {% block extra_css %}
    {% endblock %}

    {% progressive_web_app_meta %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FKLV3QNRNC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FKLV3QNRNC');
    </script>
    {% block meta_title %}
    {% endblock %}

    {% block naver_map %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">

    {% include 'draw/header.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'draw/search.html' %}

    {% include 'draw/loading.html' %}

    {% include 'draw/go_up.html' %}
    
    <script src="{% static 'draw/js/lazysizes.min.js' %}"></script>
    <script src="{% static 'draw/js/shoeneakers.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>

</html>