{% load static %}
<header style="border-bottom: 1px solid #C8C8C8;">
    <div style="float: left; margin: 5px 0 0 40px;">
        <a href="{% url 'draw:홈' %}">
            <img style="width: 120px; height: 74px; cursor: pointer;" data-src="{% static 'draw/necessary/ar(black).png' %}" class="lazyload logo">
        </a>
    </div>
    <div style="float: right; margin-right: 40px; display: flex;">
        <div style="width: 84px; height: 84px; position: relative;">
            <div class="search-icon"></div>
        </div>
        {% if member.member_no == None %}
        <div style="width: 84px; height: 84px; position: relative;">
            <div style="position: absolute; width: 50px; height: 50px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <a id="btn" href="{% url 'draw:로그인' %}">로그인/회원가입</a>
            </div>
        </div>
        {% else %}
        <div style="width: 84px; height: 84px; position: relative;">
            <div class="notification-icon"></div>
        </div>
        <div style="width: 84px; height: 84px; position: relative;">
            <div style="position: absolute; width: 50px; height: 50px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                {% if member.profile_img_url == '-' %}
                <img class="profile-img off" style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%; cursor: pointer;" src="https://objectstorage.ap-seoul-1.oraclecloud.com/n/cnmiqkbsgcj1/b/alpharaffle-storage/o/profiles%2Fdefault.jpeg">
                {% else %}
                <img class="profile-img off" style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%; cursor: pointer;" src="{{member.profile_img_url}}">
                {% endif %}
            </div>
        </div>
        <div class="profile-list off">
            <div class="mypage" style="width: 150px; height: 84px; position: relative; transition: all 0.2s; cursor: pointer;" onclick="location.href = `{% url 'draw:마이페이지' %}`">
                <div class="mypage-icon"></div>
                <p class="mypage-title">마이페이지</p>
            </div>
            <div class="logout" style="width: 150px; height: 84px; position: relative; transition: all 0.2s; cursor: pointer;" onclick="location.href = `{% url 'draw:로그아웃' %}`">
                <div class="logout-icon"></div>
                <p class="logout-title">로그아웃</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% if request.path == '/main/' %}
    <div style="width: 100vw; height: 42px; background-color: black; position: fixed; top: 84px;">
        <div style="width: 30vw; height: 100%; float: left;"></div>
        <div style="width: 40vw; height: 100%; float: left;">
            <div style="width: 33.33%; height: 100%; float: left; padding: 5px 20px; text-align: center;">
                <a class="dropped-tab" style="font-size: 1.74vw; font-weight: 500; line-height: 32px; color: #FFFFFF; cursor: pointer;">진행 중</a>
            </div>
            <div style="width: 33.33%; height: 100%; float: left; padding: 5px 20px; text-align: center;">
                <a class="full-tab" style="font-size: 1.74vw; font-weight: 300; line-height: 32px; color: rgba(255, 255, 255, 0.7); cursor: pointer;">예정</a>
            </div>
            <div style="width: 33.33%; height: 100%; float: left; padding: 5px 20px; text-align: center;">
                <a class="end-tab" style="font-size: 1.74vw; font-weight: 300; line-height: 32px; color: rgba(255, 255, 255, 0.7); cursor: pointer;">종료</a>
            </div>
        </div>
        <div style="width: 30vw; height: 100%; float: left;">
            <div style="width: 66.66%; height: 100%; float: left;"></div>
            <div style="width: 33.33%; height: 100%; float: left; padding: 5px 10px 5px 10px; float: right;">
                <!-- <div style="width: 33.33%; height: 100%; float: left; text-align: center; padding-top: 6px; padding-right: 0.35vw;">
                    <img src="{% static 'draw/necessary/icon_magnifying_glass.png' %}" style="width: 20px; height: 20px; cursor: pointer;"></img>
                </div> -->
                <div style="height: 100%; float: left; text-align: center; padding-top: 6px; padding-right: 0.35vw; float: right;">
                    <img src="{% static 'draw/necessary/icon_grid_two_up.png' %}" style="width: 20px; height: 20px; cursor: pointer;"></img>
                </div>
                <!-- <div style="width: 33.33%; height: 100%; float: left; text-align: center; padding-top: 6px; padding-right: 0.35vw;">
                    <img src="{% static 'draw/necessary/icon_filter.png' %}" style="width: 20px; height: 20px; cursor: pointer;"></img>
                </div> -->
            </div>
        </div>
    </div>
    {% endif %}
</header>
<style type="text/css">
    #btn {
        transition-duration: 0.2s;
        color: #B0B0B0;
    }

    #btn:hover {
        color: black;
    }

</style>
<script type="text/javascript">
</script>