<!DOCTYPE html>

{% load static %}
<html style="font-size: 16px;" lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="AlphaRaffle, 발매정보">
    <meta name="description" content="">
    <title>AlphaRaffle</title>
    <link rel="icon" href="{% static 'draw/necessary/favicon-96x96.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'draw/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/login.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/alpharaffle.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/font.css' %}" media="screen">
    <!-- <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"> -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8303517261258440"
     crossorigin="anonymous"></script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="AlphaRaffle | 로그인">
    <meta property="og:image" content="{% static 'draw/images/ar011.png' %}">
    <meta property="og:description" content="AlphaRaffle | 로그인할 수 있습니다.">
    <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" style="margin: 0;">

    {% include 'draw/header.html' %}

    <section class="login-section">
        <div class="login-section-box wh100">
            <div class="login-box">
                <div class="login-box-logo">
                    <!-- <img class="login-box-logo-image" src="{% static 'draw/necessary/ar011(nukki).png' %}"> -->
                    <img class="login-box-logo-image" src="{% static 'draw/necessary/logo(grey).png' %}">
                </div>
                <div class="email-box">
                    <h3 class="login-title email-title">이메일</h3>
                    <div class="email-input-box">
                        <input type="email" class="input-focus input-value login-value" id="member_loginid" tabindex="1">
                        <button type="button" class="input-icon-close" id="email_close_btn"></button>
                    </div>
                    <div>
                        <p class="email-error-box login-error-box"></p>
                    </div>
                </div>
                <div class="password-box">
                    <h3 class="login-title password-title">비밀번호</h3>
                    <div class="password-input-box">
                        <button type="button" class="password-icon-hide"></button>
                        <input type="password" class="input-focus password-value login-value" id="member_loginpwd" tabindex="2">
                        <button type="button" class="password-icon-close" id="password_close_btn"></button>
                    </div>
                    <div>
                        <p class="password-error-box login-error-box"></p>
                    </div>
                </div>
                <div class="email-save-box">
                    <label>
                        <span class="checkbox-icon">
                            <input type="checkbox">
                            <span class="icon"></span>
                        </span>
                        <span class="email-save-title">이메일 기억하기</span>
                    </label>
                </div>
                <!-- <div class="social-login">
                    <a href="#" class="naver-login">
                        <img src="{% static 'draw/necessary/naverLogin.png' %}">
                    </a>
                    <a href="#" class="kakao-login">
                        <img src="{% static 'draw/necessary/kakaoLogin.png' %}">
                    </a>
                    <a href="#" class="google-login">
                        <img src="{% static 'draw/necessary/googleLogin.png' %}">
                    </a>
                </div> -->
                <div class="forgot-password-box">
                    <a class="forgot-password-link" href="#">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="join-box">
                    <h6 class="join-box-title">아직 회원이 아니신가요?<a class="join-box-link" href="{% url 'draw:회원가입' %}">회원가입 하러가기</a></h6>
                </div>
                <div class="error-div">
                    <p class="error-box login-error-box"></p>
                </div>
                <div class="login-btn-box">
                    <button class="login-btn">로그인</button>
                </div>
            </div>
        </div>
    </section>

    {% include 'draw/search.html' %}

    {% include 'draw/loading.html' %}

    {% include 'draw/go_up.html' %}

    <script class="u-script" type="text/javascript" src="{% static 'draw/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'draw/js/nicepage.js' %}" defer=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'draw/js/lazysizes.min.js' %}"></script>
    <script src="{% static 'draw/js/login.js' %}"></script>
    <script src="{% static 'draw/js/alpharaffle.js' %}"></script>
    <script src="{% static 'draw/js/sha1.js' %}"></script>
</body>

</html>