<!DOCTYPE html>

{% load static %}
<html style="font-size: 16px;" lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="AlphaRaffle, 발매정보">
    <meta name="description" content="">
    <title>AlphaRaffle</title>
    <!-- Apple Touch 아이콘 -->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'draw/necessary/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'draw/necessary/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'draw/necessary/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'draw/necessary/apple-touch-icon-180x180.png' %}"> 
    <!-- Android/Chrome 아이콘 -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'draw/necessary/android-chrome-192x192.png' %}">
    <!-- 일반적인 파비콘 -->
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'draw/necessary/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'draw/necessary/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'draw/necessary/favicon-16x16.png' %}">
    <!-- Microsoft 타일 아이콘 -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'draw/necessary/mstile-144x144.png' %}">
    <!-- macOS 탭 핀 -->
    <link rel="mask-icon" href="{% static 'draw/necessary/ar01.svg' %}">
    
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'draw/css/normalize.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/login.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/alpharaffle.css' %}" media="screen">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8303517261258440"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D6Q3RQNTG2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D6Q3RQNTG2');
    </script>

    <meta property="og:title" content="AlphaRaffle | 로그인">
    <meta property="og:image" content="{% static 'draw/images/ar011.avif' %}">
    <meta property="og:description" content="AlphaRaffle | 로그인할 수 있습니다.">
    <meta property="og:type" content="website">
</head>

<body>

    {% include 'draw/header.html' %}

    <section class="login-section">
        <div class="login-section-box wh100">
            <div class="login-box">
                <div class="login-box-logo">
                    <!-- <img class="login-box-logo-image" src="{% static 'draw/necessary/ar011(nukki).png' %}"> -->
                    <img class="login-box-logo-image" src="{% static 'draw/necessary/logo(grey).avif' %}">
                </div>
                <div class="email-box">
                    <h3 class="login-title email-title">이메일</h3>
                    <div class="email-input-box">
                        <input type="email" class="input-focus input-value login-value" id="member_loginid" tabindex="1">
                        <button type="button" class="input-icon-close" id="email_close_btn"></button>
                    </div>
                    <div>
                        <p class="email-error-box login-error-box"></p>
                    </div>
                </div>
                <div class="password-box">
                    <h3 class="login-title password-title">비밀번호</h3>
                    <div class="password-input-box">
                        <button type="button" class="password-icon-hide"></button>
                        <input type="password" class="input-focus password-value login-value" id="member_loginpwd" tabindex="2">
                        <button type="button" class="password-icon-close" id="password_close_btn"></button>
                    </div>
                    <div>
                        <p class="password-error-box login-error-box"></p>
                    </div>
                </div>
                <div class="email-save-box">
                    <label>
                        <span class="checkbox-icon">
                            <input type="checkbox">
                            <span class="icon"></span>
                        </span>
                        <span class="email-save-title">이메일 기억하기</span>
                    </label>
                </div>
                <!-- <div class="social-login">
                    <a href="#" class="naver-login">
                        <img src="{% static 'draw/necessary/naverLogin.png' %}">
                    </a>
                    <a href="#" class="kakao-login">
                        <img src="{% static 'draw/necessary/kakaoLogin.png' %}">
                    </a>
                    <a href="#" class="google-login">
                        <img src="{% static 'draw/necessary/googleLogin.png' %}">
                    </a>
                </div> -->
                <div class="forgot-password-box">
                    <a class="forgot-password-link" id="password_forgot_btn">비밀번호를 잊으셨나요?</a>
                </div>
                <div class="join-box">
                    <h6 class="join-box-title">아직 회원이 아니신가요?<a class="join-box-link" href="{% url 'draw:회원가입' %}">회원가입 하러가기</a></h6>
                </div>
                <div class="error-div">
                    <p class="error-box login-error-box"></p>
                    <p class="email-resend-msg" style="margin: 5px 0 0 0; font-size: 12px; color: red;"></p>
                    <p class="email-resend-complete-msg" style="margin: 5px 0 0 0; font-size: 12px; font-weight: bold;"></p>
                </div>
                <div class="login-btn-box">
                    <button class="login-btn">로그인</button>
                </div>
            </div>
            <div class="password-forgot-box" style="display: none;">
                <div class="password-forgot-box-logo">
                    <!-- <img class="login-box-logo-image" src="{% static 'draw/necessary/ar011(nukki).png' %}"> -->
                    <img class="password-forgot-box-logo-image" src="{% static 'draw/necessary/logo(grey).avif' %}">
                </div>
                <div style="padding-top:30px; height: 92px;">
                    <h3 class="email-forgot-title">이메일을 입력해주세요.</h3>
                    <div class="email-forgot-input-box">
                        <input id="member_loginid_forgot" class="input-focus input-value" style="width: 100%; height: 38px; border: none;" type="email" placeholder="AlphaRaffle@example.com">
                        <button type="button" class="input-icon-close" id="email_forgot_close_btn"></button>
                    </div>
                    <div style="width: 20%; float: left; padding-left: 14px;">
                        <button id="auth_send_btn" class="auth-send-btn disabled" disabled="disabled">발송하기</button>
                    </div>
                </div>
                <div>
                    <p class="email-forgot-error-box" style="font-size: 12px; color: red; margin: 0px; float: left;"></p>
                </div>
                <div style="padding-top:30px; height: 92px;">
                    <h3 class="auth-title">인증번호를 입력해주세요.</h3>
                    <div class="auth-input-box">
                        <input id="auth" class="input-focus input-value" style="width: 100%; height: 38px; border: none;" readonly="readonly" maxlength="6">
                        <button type="button" class="input-icon-close" id="auth_close_btn"></button>
                    </div>
                    <div style="width: 20%; float: left; padding-left: 14px;">
                        <button id="auth_btn" class="auth-btn disabled" disabled="disabled">인증확인</button>
                    </div>
                </div>
                <div style="margin-top: 2px;">
                    <p class="auth-error-box" style="font-size: 12px; color: red; margin: 0px; float: left;"></p>
                </div>
                <div style="padding-top: 30px;">
                    <div style="text-align: center; padding-bottom: 20px;">
                        <p style="font-size: 14px; color: #777; margin: 0px;">이메일이 도착하지 않았나요?<a id="auth_re_send_btn" style="margin-left: 20px; font-size: 14px; color: #202020; border-bottom: 1px solid #202020; cursor: pointer;">인증번호 재발송</a></p>
                    </div>
                    <button class="auth-next-btn disabled"  disabled="disabled">다음</button>
                </div>
            </div>
            <div class="password-forgot-box-2" style="display: none;">
                <div class="password-forgot-box-logo-2">
                    <!-- <img class="login-box-logo-image" src="{% static 'draw/necessary/ar011(nukki).png' %}"> -->
                    <img class="password-forgot-box-logo-image-2" src="{% static 'draw/necessary/logo(grey).avif' %}">
                </div>
                <div style="padding-top:30px; height: 92px;">
                    <h3 class="password-forgot-title">계정에 사용할 새로운 암호를 입력해주세요.</h3>
                    <div class="password-forgot-input-box">
                        <button type="button" class="password-icon-hide"></button>
                        <input id="new_password" class="input-focus password-value" style="width: 100%; height: 38px; border: none;" type="password" tabindex="1">
                        <button type="button" class="password-icon-close" id="password_close_btn"></button>
                    </div>
                </div>
                <div>
                    <p class="password-forgot-error-box" style="font-size: 12px; color: red; margin: 0px; float: left;"></p>
                </div>
                <div style="padding-top:30px; height: 92px;">
                    <h3 class="password-forgot-title-2">암호를 다시 입력해주세요.</h3>
                    <div class="password-forgot-input-box-2">
                        <button type="button" class="password-icon-hide"></button>
                        <input id="new_password_2" class="input-focus password-value" style="width: 100%; height: 38px; border: none;" type="password" tabindex="2">
                        <button type="button" class="password-icon-close" id="password_close_btn_2"></button>
                    </div>
                </div>
                <div>
                    <p class="password-forgot-error-box-2" style="font-size: 12px; color: red; margin: 0px; float: left;"></p>
                </div>
                <div style="padding-top: 30px;">
                    <button class="new-password-btn disabled" id="new_password_btn"  disabled="disabled">비밀번호 변경</button>
                </div>
            </div>
        </div>
    </section>

    {% include 'draw/search.html' %}

    {% include 'draw/loading.html' %}

    {% include 'draw/go_up.html' %}

    <script class="u-script" type="text/javascript" src="{% static 'draw/js/jquery.js' %}" defer=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'draw/js/lazysizes.min.js' %}"></script>
    <script src="{% static 'draw/js/login.js' %}"></script>
    <script src="{% static 'draw/js/alpharaffle.js' %}"></script>
    <script src="{% static 'draw/js/sha1.js' %}"></script>
</body>

</html>