<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Practice</title>
</head>
<body>

		<h1>send-email</h1>
		<a href="sendmail/"><button>SEND</button></a>

		<div style="height: 50px; width: 400px; overflow: hidden;">
			<a style="margin: 20px 0px 0px 20px;">#NIKE</a>
		</div>

</body>
<script>

function send_mail() {
    var data = {member_loginid: member_loginid_temp};
    var datastr = JSON.stringify(data);
    
    xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            var data = xhr.responseText;

            var obj = JSON.parse(data);
            if(obj.flag == "0"){
                alert(obj.result_msg);
                member_loginid_temp = '';
            }
        }
    };
    xhr.open("POST", "/auth/login/send_mail");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.send(datastr);
}
	
</script>
</html>