<!DOCTYPE html>
<html>
    {% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'draw/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/alpharaffle.css' %}" media="screen">
	<title>Practice</title>
</head>
<body class="u-body u-xl-mode">
    
    <!-- <section style="width: 100vw; height: 100vh; background-color: antiquewhite;">
        <div style="width: 100vw; height: calc(100vh - 84px); top:84px; background-color: darkcyan;">
            <div style="width: 100vw; height: 20vh; background-color: aqua;"></div>
            <div style="width: 100vw; height: 40vh; background-color: violet;"></div>
            <div style="width: 100vw; height: 31.6vh; background-color: salmon; position: relative;">
                <p style="margin: 0px; position: absolute; bottom: 0px;">fklsdjflkdsajflkjasdlfjsla;kdjl;sad</p>
            </div>
        </div>
    </section> -->
    <section style="width: 100vw; height: 100vh; background-color: antiquewhite;">
        <div style="width: 100vw; height: calc(100vh - 84px); top:84px; background-color: darkcyan;">
            <div style="width: 100vw; height: 25%; background-color: aqua;"></div>
            <div style="width: 100vw; height: 50%; background-color: violet;"></div>
            <div style="width: 100vw; height: 25%; background-color: salmon; position: relative;">
                <p style="margin: 0px; position: absolute; bottom: 0px;">fklsdjflkdsajflkjasdlfjsla;kdjl;sad</p>
            </div>
        </div>
    </section>

</body>
<script>

function send_mail() {
    var data = {member_loginid: member_loginid_temp};
    var datastr = JSON.stringify(data);
    
    xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            var data = xhr.responseText;

            var obj = JSON.parse(data);
            if(obj.flag == "0"){
                alert(obj.result_msg);
                member_loginid_temp = '';
            }
        }
    };
    xhr.open("POST", "/auth/login/send_mail");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.send(datastr);
}
	
</script>
<script class="u-script" type="text/javascript" src="{% static 'draw/js/jquery.js' %}" defer=""></script>
<script class="u-script" type="text/javascript" src="{% static 'draw/js/nicepage.js' %}" defer=""></script>
<script type="text/javascript" src="{% static 'draw/js/alpharaffle.js' %}" defer=""></script>
</html>