{% load static %}
<section class="search-section" style="width: 100vw; height: 100vh; background-color: #FBFBFB; position: fixed; top: 0; z-index: 1000; display: none;">
    <div class="search">
        <div class="cancel-icon">
            <label class="cancel-icon-label">
                <span class="icon"></span>
            </label>
        </div>
        <div class="search-ad-box">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2714501163035094"
                crossorigin="anonymous"></script>
            <!-- search 왼쪽 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-2714501163035094"
                data-ad-slot="9094761939"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                window.onload = function() {
                (adsbygoogle = window.adsbygoogle || []).push({});
                }
            </script>
        </div>
        <div class="search-box">
            <div class="search-value-box">
                <form id="search_form" method="get">
                    <div style="width: 100%; height: 100%; padding: 20px 0px; position: relative;">
                        <input class="input-value" id="search_value" name="search_term" placeholder="검색어를 입력하세요.">
                        <button type="button" id="search_close_btn" class="search-input-icon-close"></button>
                    </div>
                </form>
            </div>
            <div class="search-recent-box">
                <div style="width: 100%; height: 100%;">
                    <p class="search-bigText" style="float: left;">최근 검색어</p>
                    <p id="all_recent_delete">전체 삭제</p>
                    {% if member.member_no == None %}
                    <div style="display:flex; width: 100%;">
                        <p style="margin: 0px; font-size: 20px; font-weight: 400;">최근 검색어가 없습니다.</p>
                    </div>
                    {% else %}
                    <div class="recent-flex" style="display:flex; width: 100%; flex-wrap: wrap">
                        {% if recent_searches|length == 0 %}
                        <p style="margin: 0px; font-size: 20px; font-weight: 400;">최근 검색어가 없습니다.</p>
                        {% else %}
                        {% for recent_searches in recent_searches %}
                        <div class="recent-items">
                            <p class="recent-searches-value">{{recent_searches.term}}</p>
                            <div class="xbutton-icon-box">
                                <div class="xbutton-icon">
                                    <label class="xbutton-icon-label">
                                        <span class="icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="search-popular-box">
                <div style="width: 100%; height: 100%;">
                    <p class="search-bigText">인기 상품 ❤️‍🔥</p>
                    <ol class="search-ol">
                        <li>나이키 덩크 켄터키</li>
                        <li>아디다스 삼바 ADV</li>
                        <li>아식스 젤 카야노 14</li>
                        <li>뉴발란스 2002R</li>
                        <li>에어 조던 1 85’</li>
                        <li>뉴발란스 992</li>
                        <li>나이키 에어 포스 1 07’</li>
                        <li>아디다스 슈퍼스타 82</li>
                        <li>아디다스 캠퍼스 80s</li>
                        <li>아디다스 스탠스미스 80s</li>
                        <li>발렌시아가 3xl 스니커즈</li>
                        <li>샤넬</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search-ad-box">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2714501163035094"
                crossorigin="anonymous"></script>
            <!-- search 오른쪽 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-2714501163035094"
                data-ad-slot="1575364567"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                window.onload = function() {
                (adsbygoogle = window.adsbygoogle || []).push({});
                }
            </script>
        </div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'draw/css/search.css' %}" media="screen">

<script>
    $(document).ready(function () {
        $("#search_value").keyup( (e) => {
            let $search = $('#search_value');
            if ($search.val().length == 0) {
                $search.css({'border-bottom': '2px solid rgb(245, 245, 245)'});
            } else {
                $search.css({'border-bottom': '2px solid black'});
            }
        });

        $('#search_close_btn').click( () => {
            $('#search_value').html('');
            $('#search_value').css({'border-bottom': '2px solid rgb(245, 245, 245)'});
        });
    });
</script>