{% load static %}
<section class="search-section" style="width: 100vw; height: 100vh; background-color: #FBFBFB; position: fixed; top: 0; z-index: 1000; display: none;">
    <div style="width: 100vw; height: calc(100vh - 84px); top: 84px; position: relative;">
        <div class="cancel-icon">
            <label class="cancel-icon-label">
                <span class="icon"></span>
            </label>
        </div>
        <div style="width: 17.5vw; height: 100%; float: left;"></div>
        <div style="width: 65vw; height: 100%; float: left;">
            <div style="width: 100%; height: 20%; padding: 50px; position: relative;">
                <form id="search_form" method="get">
                    <div style="width: 100%; height: 100%; padding: 20px 0px; position: relative;">
                        <input class="input-value" id="search_value" name="search_term" style="width: 100%; height: 100%; font-size: 30px; background-color: #FBFBFB; border: none; border-bottom: 2px solid rgb(245, 245, 245);" placeholder="검색어를 입력하세요.">
                        <button type="button" id="search_close_btn" class="search-input-icon-close"></button>
                    </div>
                </form>
            </div>
            <div style="width: 100%; height: 20%; padding: 0px 50px 50px 50px;">
                <div style="width: 100%; height: 100%;">
                    <p style="margin: 0px; font-size: 32px; font-weight: 900; float: left;">최근 검색어</p>
                    <p id="all_recent_delete" style="margin: 0 0 0 20px; font-size: 20px; font-weight: 500; float: left; color: #777777; text-decoration: underline; text-underline-position: under; line-height: 51.2px; cursor: pointer;">전체 삭제</p>
                    {% if member.member_no == None %}
                    <div style="display:flex; width: 100%;">
                        <p style="margin: 0px; font-size: 20px; font-weight: 400;">최근 검색어가 없습니다.</p>
                    </div>
                    {% else %}
                    <div class="recent-flex" style="display:flex; width: 100%; flex-wrap: wrap">
                        {% if recent_searches|length == 0 %}
                        <p style="margin: 0px; font-size: 20px; font-weight: 400;">최근 검색어가 없습니다.</p>
                        {% else %}
                        {% for recent_searches in recent_searches %}
                        <div class="recent-items" style="height: 44px; position: relative; background: #EEEEEE; border-radius: 20px; border: 0.30px #777777 solid; padding-left: 10px; margin-right: 10px; margin-top: 10px;">
                            <p class="recent-searches-value" style="margin: 0px; font-size: 18px; font-weight: 500; float: left; line-height: 44px; cursor: pointer;">{{recent_searches.term}}</p>
                            <!-- <div style="width: 240px; height: 30px; left: 19px; top: 7px; position: absolute; color: black; font-size: 24px; font-family: Pretendard; font-weight: 500; word-wrap: break-word">{{recent_searches.term}}</div> -->
                            <div style="width: 25px; height: 25px; right: 0px; float: left; margin-left: 10px;">
                                <div class="xbutton-icon">
                                    <label class="xbutton-icon-label">
                                        <span class="icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div style="width: 100%; height: 60%; padding: 0px 50px 50px 50px;">
                <div style="width: 100%; height: 100%;">
                    <p style="margin: 0px; font-size: 32px; font-weight: 900;">인기 상품 ❤️‍🔥</p>
                    <ol style="column-count: 2;">
                        <li>나이키 덩크 켄터키</li>
                        <li>아디다스 삼바 ADV</li>
                        <li>아식스 젤 카야노 14</li>
                        <li>뉴발란스 2002R</li>
                        <li>에어 조던 1 85’</li>
                        <li>뉴발란스 992</li>
                        <li>나이키 에어 포스 1 07’</li>
                        <li>아디다스 슈퍼스타 82</li>
                        <li>아디다스 캠퍼스 80s</li>
                        <li>아디다스 스탠스미스 80s</li>
                        <li>발렌시아가 3xl 스니커즈</li>
                        <li>샤넬</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="width: 17.5vw; height: 100%; float: left;"></div>
    </div>
</section>
<link rel="stylesheet" href="{% static 'draw/css/search.css' %}" media="screen">

<script>
    $(document).ready(function () {

$("#search_value").keyup( (e) => {
    let $search = $('#search_value');
    if ($search.val().length == 0) {
        $search.css({'border-bottom': '2px solid rgb(245, 245, 245)'});
    } else {
        $search.css({'border-bottom': '2px solid black'});
    }
});

$('#search_close_btn').click( () => {
    $('#search_value').html('');
    $('#search_value').css({'border-bottom': '2px solid rgb(245, 245, 245)'});
});
});
</script>