<!DOCTYPE html>

{% load static %}
<html style="font-size: 16px;" lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="AlphaRaffle, 발매정보">
    <meta name="description" content="">
    <title>AlphaRaffle</title>
    <link rel="shortcut icon" href="{% static 'draw/images/favicon.jpeg' %}">
    <link rel="stylesheet" href="{% static 'draw/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/start.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/alpharaffle.css' %}" media="screen">

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="AlphaRaffle">
    <meta property="og:image" content="{% static 'draw/images/ar011.png' %}">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" style="margin: 0;">

    {% include 'draw/header.html' %}
    
    <section class="content">
        <!-- <div style="height: calc(100vh - 5vh); width: auto; top: 5vh;">
            <div style="height: calc(100vh - 5vh); width: 50%; background-color: skyblue; float: left; padding: 5vh 0px 5vh 2vh;">
                <div style="width: 100%; height: 100%; background-color: aliceblue; padding: 5vh;">
                    <div style="width: 100%; height: 100%; background-color: darkblue; padding: 10vh 0px 10vh 0px">
                        <div style="width: 100%; height: 100%; background-color: blanchedalmond;">
                            <div style="width: 100%; height: 60%; background-color: blueviolet; padding: 10vh 0px 0px 1vh;">
                                <h1 style="margin: 0px;">다양한 발매정보와 응모를 한 번에 간편하게!</h1>
                            </div>
                            <div style="width: 100%; height: 40%; background-color: lawngreen; padding: 2.5vh 0px 1vh 1vh;">
                                <h4 style="margin: 0px;">발매 정보를 확인하고 응모하고 싶은 신발을 응모하세요.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: calc(100vh - 5vh); width: 50%; background-color: cadetblue; float: left; padding: 50px 50px 50px 0px;">
                <div style="height: 100%; width: 90%; background-color: aqua; float: left; padding: 100px 75px 50px 25px;">
                    <div style="width: 100%; height: 100%; background-color: azure;">
                        <img style="width: 100%; height: 100%;" src="{% static 'draw/necessary/draw1.jpg' %}">
                    </div>
                </div>
                <div style="height: 100%; width: 10%; background-color: aquamarine; float: left; padding: 300px 0px 300px 0;">
                    <div style="width: 100%; height: 100%; background-color: antiquewhite;">
                        <div style="width: 100%; height: 33.33%; background-color: darkgreen; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: darkkhaki; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: lightblue; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="box box1">
            <div class="leftbox">
                <div class="leftboxPadding">
                    <div class="leftboxPadding-box">
                        <div class="wh100">
                            <div class="leftboxPadding-box-1">
                                <h1 class="bigText text"></h1>
                            </div>
                            <div style="width: 100%; height: 100px; float: left;"></div>
                            <div class="leftboxPadding-box-2">
                                <h4 class="smallText text2"></h4>
                                <button class="black-btn" id="main-btn">발매일정 보러 가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightbox">
                <div class="rightboxPadding">
                    <div class="wh100">
                        <img class="wh100" src="{% static 'draw/necessary/start1.png' %}">
                    </div>
                </div>
                <div class="dotPadding">
                    <div class="wh100">
                        <div class="dot">
                            <img class="first-btn dot-btn" src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="second-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="third-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="content">
        <!-- <div style="height: calc(100vh - 50px); width: auto; top: 50px;">
            <div style="height: calc(100vh - 50px); width: 50%; background-color: skyblue; float: left; padding: 100px 0px 100px 40px;">
                <div style="width: 100%; height: 100%; background-color: aliceblue; padding: 50px;">
                    <div style="width: 100%; height: 100%; background-color: darkblue; padding: 100px 0px 100px 0px">
                        <div style="width: 100%; height: 100%; background-color: blanchedalmond;">
                            <div style="width: 100%; height: 60%; background-color: blueviolet; padding: 190px 0px 0px 10px;">
                                <h1 style="margin: 0px;">클릭 한 번으로 응모하세요!</h1>
                            </div>
                            <div style="width: 100%; height: 40%; background-color: lawngreen; padding: 0px 0px 10px 10px;">
                                <h4 style="margin: 0px;">알파라플만의 간편한 자동 응모 서비스를 경험해보세요.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: calc(100vh - 50px); width: 50%; background-color: cadetblue; float: left; padding: 50px 50px 50px 0px;">
                <div style="height: 100%; width: 90%; background-color: aqua; float: left; padding: 100px 75px 50px 25px;">
                    <div style="width: 100%; height: 100%; background-color: azure; position: relative;">
                        <img style="width: 80%; height: 80%; z-index: 1; position: absolute;" src="{% static 'draw/necessary/draw2.jpg' %}">
                        <div>
                            <img style="position: absolute; width: 80%; height: 80%; bottom: 0px; right: 0px; z-index: 0;" src="{% static 'draw/necessary/draw3.jpg' %}">
                        </div>
                    </div>
                </div>
                <div style="height: 100%; width: 10%; background-color: aquamarine; float: left; padding: 300px 0px 300px 0;">
                    <div style="width: 100%; height: 100%; background-color: antiquewhite;">
                        <div style="width: 100%; height: 33.33%; background-color: darkgreen; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: darkkhaki; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: lightblue; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="box box2">
            <div class="leftbox">
                <div class="leftboxPadding">
                    <div class="leftboxPadding-box">
                        <div class="wh100">
                            <div class="leftboxPadding-box-1">
                                <h1 class="bigText text3"></h1>
                            </div>
                            <div class="leftboxPadding-box-2">
                                <h4 class="smallText text4"></h4>
                                <button class="black-btn" id="main-btn">진행중인 응모 보러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightbox">
                <div class="rightboxPadding">
                    <div class="rightboxPadding-box wh100">
                        <img class="rightboxPadding-box-1" src="{% static 'draw/necessary/start2.png' %}">
                        <div>
                            <img class="rightboxPadding-box-2" src="{% static 'draw/necessary/start3.png' %}">
                        </div>
                    </div>
                </div>
                <div class="dotPadding">
                    <div class="wh100">
                        <div class="dot">
                            <img class="first-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="second-btn dot-btn" src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="third-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content snowSection">
        <!-- <div style="height: calc(100vh - 50px); width: auto; top: 50px;">
            <div style="height: calc(100vh - 50px); width: 92.395%; background-color: skyblue; float: left; padding: 100px 0px 100px 131.4px;">
                <div style="width: 100%; height: 100%; background-color: aliceblue; padding: 200px 300px 200px 300px;">
                    <div style="width: 100%; height: 40%; background-color: antiquewhite; padding-top: 50px;">
                        <h1 style="text-align: center;">지금 바로 시작하세요!!</h1>
                    </div>
                    <div style="width: 100%; height: 30%; background-color: darkblue; padding-top: 10px;">
                        <h4 style="text-align: center; margin: 0px; font-weight: 100;">비용 걱정 없이 회원 가입만으로도 이용 가능합니다.</h4>
                    </div>
                    <div style="width: 100%; height: 30%; background-color: khaki; text-align: center;">
                        <button style="width: 180px; height: 40px; color: white; background-color: black; border: 1px solid black; border-radius: 50px; font-size: 20px;">회원가입</button>
                    </div>
                </div>
            </div>
            <div class="all" style="height: calc(100vh - 50px); width: 7.605%; background-color: cadetblue; float: left; padding: 50px 50px 50px 0px;">
                <div style="height: 100%; width: 100%; background-color: aquamarine; float: left; padding: 300px 0px 300px 0;">
                    <div style="width: 100%; height: 100%; background-color: antiquewhite;">
                        <div style="width: 100%; height: 33.33%; background-color: darkgreen; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: darkkhaki; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div style="width: 100%; height: 33.33%; background-color: lightblue; text-align: center; display: flex; justify-content: center; padding: 36px;">
                            <img src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="box box3">
            <div class="leftbox">
                <div class="leftboxPadding wh100">
                    <div class="leftboxPadding-box-1">
                        <h1 class="bigText text5"></h1>
                    </div>
                    <div class="leftboxPadding-box-2">
                        <h4 class="smallText text6"></h4>
                    </div>
                    <div class="leftboxPadding-box-3">
                        <button class="black-btn" id="join-btn">회원가입</button>
                    </div>
                </div>
            </div>
            <div class="rightbox">
                <div class="rightboxPadding wh100">
                    <div class="wh100">
                        <div class="dot">
                            <img class="first-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="second-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.png' %}">
                        </div>
                        <div class="dot">
                            <img class="third-btn dot-btn" src="{% static 'draw/necessary/VectorFill.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>const STATIC_NECESSARY = "{% static 'draw/necessary/'%}"</script>

    <script class="u-script" type="text/javascript" src="{% static 'draw/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'draw/js/nicepage.js' %}" defer=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'draw/js/lazysizes.min.js' %}"></script>
    <script src="{% static 'draw/js/start.js' %}"></script>
    <script src="{% static 'draw/js/alpharaffle.js' %}"></script>
</body>

</html>