{% extends 'draw/base.html' %}
{% load pwa %}
{% load static %}

{% block title %}
<title>AlphaRaffle</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'draw/css/start.css' %}" media="screen">
{% endblock %}

{% block meta_title %}
<meta name="description" content="AlphaRaffle | 시작화면입니다.">
<meta property="og:title" content="AlphaRaffle | 시작">
<meta property="og:description" content="AlphaRaffle | 시작화면입니다.">
{% endblock %}

{% block content %}

<section class="content">
    <div class="box box1">
        <div class="leftbox">
            <div class="leftboxPadding">
                <div class="leftboxPadding-box">
                    <div class="wh100">
                        <div class="leftboxPadding-box-1">
                            <h1 class="bigText text"></h1>
                        </div>
                        <div style="width: 100%; height: 100px; float: left;"></div>
                        <div class="leftboxPadding-box-2">
                            <h4 class="smallText text2"></h4>
                            <button class="black-btn" id="main-btn">발매일정 보러 가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="rightboxPadding">
                <div class="wh100" style="position: relative;">
                    <img class="wh100" src="{% static 'draw/necessary/start1-1.avif' %}" style="position: absolute;">
                    <img class="wh80" src="{% static 'draw/necessary/start1.avif' %}" style="position: absolute; left: 50px; top: 50px; filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));">
                </div>
            </div>
            <div class="dotPadding">
                <div class="wh100">
                    <div class="dot">
                        <img class="first-btn dot-btn" src="{% static 'draw/necessary/VectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="second-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="third-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="content">
    <div class="box box2">
        <div class="leftbox">
            <div class="leftboxPadding wh100">
                <div class="leftboxPadding-box-1">
                    <img class="image i2" src="{% static 'draw/necessary/start2-1.avif' %}">
                    <img class="image i3" src="{% static 'draw/necessary/start2-2.avif' %}">
                    <img class="image i1" src="{% static 'draw/necessary/start2.avif' %}">
                    <img class="image i4" src="{% static 'draw/necessary/start2-3.avif' %}">
                </div>
                <div class="leftboxPadding-box-2">
                    <h1 class="bigText text3">클릭 한 번으로 응모해보세요!</h1>
                </div>
                <div class="leftboxPadding-box-3">
                    <h4 class="smallText text4">알파라플만의 간편한 응모 서비스를 경험해보세요.</br>가지고 싶은 만큼 국내부터 해외 발매처까지 골고루 응모하세요!</h4>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="rightboxPadding wh100">
                <div class="wh100">
                    <div class="dot">
                        <img class="first-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="second-btn dot-btn" src="{% static 'draw/necessary/VectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="third-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content snowSection">
    <div class="box box3">
        <div class="leftbox">
            <div class="leftboxPadding wh100">
                <div class="leftboxPadding-box-1">
                    <h1 class="bigText text5">지금 바로 시작하세요!!</h1>
                </div>
                <div class="leftboxPadding-box-2">
                    <h4 class="smallText text6">비용 걱정 없이 회원 가입만으로도 이용 가능합니다.</h4>
                </div>
                <div class="leftboxPadding-box-3">
                    <button class="black-btn" id="join-btn">회원가입</button>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="rightboxPadding wh100">
                <div class="wh100">
                    <div class="dot">
                        <img class="first-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="second-btn dot-btn" src="{% static 'draw/necessary/NotVectorFill.avif' %}">
                    </div>
                    <div class="dot">
                        <img class="third-btn dot-btn" src="{% static 'draw/necessary/VectorFill.avif' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>const STATIC_NECESSARY = "{% static 'draw/necessary/'%}"</script>
<script src="{% static 'draw/js/start.js' %}"></script>
{% endblock %}