@font-face {
    font-family: 'preBl';
    src: url("../fonts/Pretendard-Black.c7966a36229f.ttf");
}
@font-face {
    font-family: 'preB';
    src: url("../fonts/Pretendard-Bold.a7f83bc6f256.ttf");
}
@font-face {
    font-family: 'preEB';
    src: url("../fonts/Pretendard-ExtraBold.10e3da0ac659.ttf");
}
@font-face {
    font-family: 'preEL';
    src: url("../fonts/Pretendard-ExtraLight.07f0cf0e97e9.ttf");
}
@font-face {
    font-family: 'preL';
    src: url("../fonts/Pretendard-Light.1f3020770a4a.ttf");
}
@font-face {
    font-family: 'preM';
    src: url("../fonts/Pretendard-Medium.278a9a8e5012.ttf");
}
@font-face {
    font-family: 'preR';
    src: url("../fonts/Pretendard-Regular.9848a0400d05.ttf");
}
@font-face {
    font-family: 'preSB';
    src: url("../fonts/Pretendard-SemiBold.d37adfbe6f13.ttf");
}
@font-face {
    font-family: 'preT';
    src: url("../fonts/Pretendard-Thin.bf1ebc4b4b64.ttf");
}