.u-section-1 {
    margin-top: 100px;
    transition-duration: 0.5s;
}

.u-section-1 .u-sheet-1 {
    min-height: 1220px;
}

.u-section-1 .div-noDropped {
    margin-top:100px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 3rem;
    padding: 0;
}

.u-section-1 .u-products-1 {
    margin-top: 24px;
    margin-bottom: 29px;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    min-height: 1068px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-image-1 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
    margin: 20px 0 0;
    height: 60px;
}

.u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-image-2 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-image-3 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-image-4 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-image-5 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 30px;
}

.u-section-1 .u-image-6 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 991px;
    }

    .u-section-1 .u-products-1 {
        height: auto;
    }

    .u-section-1 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-4 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-5 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-6 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 50% 50%;
    }
    .filter-layer-hide {
        height: 108px !important;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
.u-section-1 .u-text-1 {
    font-size: 1.5rem;
}
}

header {
    z-index: 99;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-style: solid;
    border-bottom-color: black;
    position: fixed;
}

.u-section-1 {
    animation: fadeIn 2s;
}

/* 버튼 hover 시간 */
.u-btn {
    transition-duration: 0.5s;
}

.u-btn:hover {
    transition-duration: 0.5s;
}
/* ----------버튼 hover 시간 */

.product-item {
    opacity: 0;
/* animation: fadeInUp 2s; */
}

.hover_temp .screen img {
transition-duration: 0.5s;
}

.hover_temp:hover .screen img {
box-shadow: 0px 0px 7px #000;
filter: brightness(90%);
}

.filter {
    height: 50px;
    float: right;
}

.filter .filter-btn {
    margin-right: 35px;
    font-size: 13px;
}

.filter-layer.off {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all 0.5s;
    border-left: 2px solid black;
}

.filter-layer.on {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 1;
    transition: all 0.5s;
    border-left: 2px solid black;
}

.u-section-1.blurOn {
    filter: blur(4px);
}

.u-section-1.blurOff {
    filter: blur(0px);
}

.filter-layer-hide {
    width: auto;
    height: 112px;
    border-bottom: 2px solid black;
}

.filter-layer-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: calc(100vh - 100px);
}

.filter-layer-header {
    width: 300px;
    height: 38px;
    /* background-color: aqua; */
    position: relative;
    font-size: 17px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
}

.filter-layer-header .exit-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 24px;
    height: 24px;
    background: url("../images/x_icon.20de692d6e67.png") 50% 50% no-repeat;
    background-size: 70% auto;
    border: 2px solid black;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.filter-layer-header .exit-btn:hover {
    background-color: black;
    background-image: url("../images/x_white_icon.9375cdceecdb.png");
    transition-duration: 0.5s;
}

.filter-layer-content {
    width: auto;
    flex: 1;
    padding: 0 20px 0px;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.filter-layer-content-content:first-child {
    border: 0;
    padding-top: 8px;
}

.filter-layer-content-content {
    padding: 12px 0;
    border-top: 1px solid #000;
}

.filter-layer-content-content-title {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    color: #000;
    font-weight: 600;
}

.filter-layer-content-content-list {
    overflow: auto;
    overflow-x: hidden;
    max-height: 320px;
}

.filter-layer-content-content.accordion-type .filter-layer-content-content-list {
    display: none;
}

.filter-layer-content-content.accordion-type.on .filter-layer-content-content-list {
    display: block;
}

.filter-layer-content-content-list-radiobox, .filter-layer-content-content-list-checkbox {
    font-size: 15px;
    line-height: 39px;
    height: 40px;
    position: relative;
    padding-left: 30px;
}

.filter-layer-content-content-list-radiobox label, .filter-layer-content-content-list-checkbox label {
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

.filter-layer-content-content-list-radiobox .radiobox-icon, .filter-layer-content-content-list-checkbox .checkbox-icon {
    position: absolute;
    top: 12px;
    left: 0;
    padding-right: 12px;
}

.filter-layer-content-content-list-radiobox .radiobox-icon input, .filter-layer-content-content-list-checkbox .checkbox-icon input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type="radio"] {
    padding: 0;
}

input[type="checkbox"] {
    padding: 0;
}

.filter-layer-content-content-list-radiobox .radiobox-icon .icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 50%;
    box-sizing: border-box;
}

.filter-layer-content-content-list-checkbox .checkbox-icon .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 1px;
    box-sizing: border-box;
}

.filter-layer-content-content-list-radiobox .radiobox-icon input:checked+.icon:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}

.filter-layer-content-content-list-checkbox .checkbox-icon input:checked+.icon, .filter-layer-content-content-list-checkbox .checkbox-icon input.checked+.icon {
    background: #000 url("../images/icon_checkbox.c608fa43c99f.png") 50% 50% no-repeat;
    background-size: 12px auto;
    border-color: #000;
}

.filter-layer-content-content-title>a {
    display: block;
    position: relative;
    color: #000;
}

.filter-layer-content-content.accordion-type .filter-layer-content-content-title>a::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 6px;
    margin-top: -3px;
    background-image: url("data:image/svg+xml;charset=utf8,%0A%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%23959595' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    content: "";
}

.filter-layer-content-content.accordion-type.on .filter-layer-content-content-title>a::after {
    transform: rotate(-180deg);
}

.filter-layer-footer {
    width: auto;
    display: flex;
    padding: 8px;
    height: auto;
}

.filter-layer-footer .u-reset-btn {
    flex: 1;
}

.filter-layer-footer .u-apply-btn {
    flex: 1;
    margin-left: 8px;
}

.filter-layer-footer .u-apply-btn.disabled {
    flex: 1;
    margin-left: 8px;
    background: #f4f4f45d !important;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}