.u-section-1 {
    margin-top: 100px;
    transition-duration: 0.5s;
}

.u-section-1 .u-sheet-1 {
    min-height: 1220px;
}

.u-section-1 .div-noDropped {
    margin-top:100px;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 3rem;
    padding: 0;
}

.u-section-1 .u-products-1 {
    margin-top: 24px;
    margin-bottom: 29px;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    min-height: 1068px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-image-1 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
    margin: 20px 0 0;
    height: 60px;
}

.u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-image-2 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-image-3 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-image-4 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-image-5 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 30px;
}

.u-section-1 .u-image-6 {
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
    margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
    font-size: 0.875rem;
    border-style: solid;
    text-transform: uppercase;
    margin: 20px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 991px;
    }

    .u-section-1 .u-products-1 {
        height: auto;
    }

    .u-section-1 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-4 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-5 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-image-6 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
.u-section-1 .u-text-1 {
    font-size: 1.5rem;
}
}

header {
    z-index: 99;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom-style: solid;
    border-bottom-color: black;
    position: fixed;
}

.u-section-1 {
    animation: fadeIn 2s;
}

/* 버튼 hover 시간 */
.u-btn {
    transition-duration: 0.5s;
}

.u-btn:hover {
    transition-duration: 0.5s;
}
/* ----------버튼 hover 시간 */

.product-item {
    opacity: 0;
/* animation: fadeInUp 2s; */
}

.hover_temp .screen img {
transition-duration: 0.5s;
}

.hover_temp:hover .screen img {
box-shadow: 0px 0px 7px #000;
filter: brightness(90%);
}

.filter-layer.off {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all 0.5s;
    border-left: 2px solid black;
}

.filter-layer.on {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 1;
    transition: all 0.5s;
    border-left: 2px solid black;
}

.u-section-1.blurOn {
    filter: blur(4px);
}

.u-section-1.blurOff {
    filter: blur(0px);
}

.filter-layer-hide {
    width: auto;
    height: 112px;
    border-bottom: 2px solid black;
}

.filter-layer-header {
    width: auto;
    height: 38px;
    /* background-color: aqua; */
    position: relative;
    font-size: 17px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
}

.filter-layer-header .exit-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 24px;
    height: 24px;
    background: url("../images/x_icon.20de692d6e67.png") 50% 50% no-repeat;
    background-size: 70% auto;
    border: 2px solid black;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.filter-layer-header .exit-btn:hover {
    background-color: black;
    background-image: url("../images/x_white_icon.9375cdceecdb.png");
    transition-duration: 0.5s;
}