input:focus {
    outline: none;
}

input::placeholder {
    color: #ABABAB;
    padding-left: 5px;
}

/* input x버튼 기능 */
.input-icon-close {
    display: none; 
}

.input-icon-close.active {
    display: block;
    position: absolute;
    top: 19%;
    left: 92%;
    width: 24.96px;
    height: 24.96px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle data-name='타원 113' cx='8' cy='8' r='8' transform='translate(4 4)' style='fill:%23ababab'/%3E%3Cg data-name='Group 1124'%3E%3Cpath data-name='Path 1138' d='m16.04 15.031-3.03-3.03 3.03-3.03-1.01-1.01-3.03 3.03-3.03-3.03-1.01 1.01 3.03 3.03-3.03 3.03 1.01 1.01 3.03-3.03 3.031 3.03z'/%3E%3C/g%3E%3Cpath data-name='Rectangle 2097' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}
/* ------------input x버튼 기능 */

/* 비밀번호 숨기기 해제 기능 */
.password-icon-hide {
    position: absolute;
    top: 19%;
    left: 92%;
    width: 24.96px;
    height: 24.96px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg id='icon_hide' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23aaa%7D %3C/style%3E%3C/defs%3E%3Cg id='Group_1125' data-name='Group 1125' transform='translate(-1012.324 -46.665)'%3E%3Cpath id='Path_1139' data-name='Path 1139' class='cls-1' d='m1031.666 54.624-3.009 3.009a4.426 4.426 0 0 1-5.364 5.367l-2.044 2.044a10.869 10.869 0 0 0 3.076.447 11.981 11.981 0 0 0 10.518-6.823 13.4 13.4 0 0 0-3.177-4.044z'/%3E%3Cpath id='Path_1140' data-name='Path 1140' class='cls-1' d='m1032.283 49.689-3.237 3.236a10.908 10.908 0 0 0-4.721-1.084 11.982 11.982 0 0 0-10.519 6.824 13.054 13.054 0 0 0 4.491 5.009l-3.967 3.967h2.037l17.952-17.952zm-7.958 6.726a2.236 2.236 0 0 0-2.011 3.242l-1.6 1.6a4.373 4.373 0 0 1-.854-2.591 4.464 4.464 0 0 1 4.464-4.464 4.372 4.372 0 0 1 2.59.854l-1.6 1.6a2.22 2.22 0 0 0-.989-.241z'/%3E%3C/g%3E%3Cpath id='Rectangle_1862' data-name='Rectangle 1862' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}

.password-icon-hide.active {
    background-image: url("data:image/svg+xml,%0A%3Csvg id='icon_show' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23ababab%7D %3C/style%3E%3C/defs%3E%3Cg id='Group_1126' data-name='Group 1126' transform='translate(-1058.596 -46.665)'%3E%3Ccircle id='Ellipse_128' data-name='Ellipse 128' class='cls-1' cx='2.25' cy='2.25' r='2.25' transform='translate(1068.346 56.415)'/%3E%3Cpath id='Path_1141' data-name='Path 1141' class='cls-1' d='M1070.6 51.841a11.98 11.98 0 0 0-10.518 6.824 11.519 11.519 0 0 0 21.036 0 11.98 11.98 0 0 0-10.518-6.824zm0 11.287a4.463 4.463 0 1 1 4.464-4.463 4.464 4.464 0 0 1-4.464 4.463z'/%3E%3C/g%3E%3Cpath id='Rectangle_1863' data-name='Rectangle 1863' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}
/* -----------비밀번호 숨기기 해제 기능 */


/* 비밀번호 x버튼 기능 */
.password-icon-close {
    display: none;
}

.password-icon-close.active {
    display: block;
    position: absolute;
    top: 19%;
    left: 85%;
    width: 24.96px;
    height: 24.96px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle data-name='타원 113' cx='8' cy='8' r='8' transform='translate(4 4)' style='fill:%23ababab'/%3E%3Cg data-name='Group 1124'%3E%3Cpath data-name='Path 1138' d='m16.04 15.031-3.03-3.03 3.03-3.03-1.01-1.01-3.03 3.03-3.03-3.03-1.01 1.01 3.03 3.03-3.03 3.03 1.01 1.01 3.03-3.03 3.031 3.03z'/%3E%3C/g%3E%3Cpath data-name='Rectangle 2097' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}
/* ----------비밀번호 x버튼 기능 */

.join-section {
    width: 100vw;
    height: 100vh;
    background-color: #C8C8C8;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.join-box {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.join-box .join-email-box {
    width: 560px;
    height: 576px;
    margin: 25vh auto;
    background-color: white;
    padding: 15px 45px 15px 45px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #969696;
    display: inline-block;
}

.join-email-box .join-email-title-box, .join-password-box .join-password-title-box, .join-profile-box .join-profile-title-box {
    padding: 50px 0px 50px 0px;
    text-align: center;
}

.join-email-title-box .join-email-title, .join-password-title-box .join-password-title, .join-profile-title-box .join-profile-title {
    margin: 0px;
    font-size: 36px;
    font-weight: 800;
}

.join-email-box .join-email-input-box {
    height: 105px;
    padding: 30px 0px 0px 0px;
}

.join-email-input-box .join-email-input-title {
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: left;
}

.join-email-input-box .join-email-input-value-box {
    width: 80%;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
    float: left;
}

.join-email-input-value-box .join-email-input-value {
    width: 100%;
    height: 38px;
    border: none;
}

.join-email-input-box .duplicate-btn-box {
    width: 20%;
    float: left;
    padding: 0px 0px 0px 14px;
}

.duplicate-btn-box .duplicate-btn.disabled {
    width: 80px;
    height: 39px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background-color: #E4E4E4;
}

.duplicate-btn-box .duplicate-btn.abled {
    width: 80px;
    height: 39px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.join-email-box .next-btn-box {
    padding-top: 50px;
}

.next-btn-box .next-btn.disabled {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #E4E4E4;
}

.next-btn-box .next-btn.abled {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.join-email-box .login-link-box {
    text-align: center;
    padding: 80px 0px 50px 0px;
}

.login-link-box .login-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    color: #878787;
}

.login-title .login-link {
    font-size: 16px;
    margin-left: 10px;
    color: #626262;
    border-bottom: 1px solid #626262;
}

.join-box .join-password-box, .join-box .join-complete-box {
    width: 560px;
    height: 576px;
    margin: 25vh auto;
    background-color: white;
    padding: 15px 45px 15px 45px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #969696;
    display: inline-block;
    display: none;
}

.join-box .join-profile-box {
    width: 560px;
    margin: 175px auto;
    background-color: white;
    padding: 15px 45px 15px 45px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #969696;
    display: inline-block;
    display: none;
}

.join-password-box .join-password-input-box, .join-password-box .join-password2-input-box, .join-profile-box .join-name-input-box, .join-profile-box .join-nickname-input-box, .join-profile-box .join-birth-input-box, .join-profile-box .join-phonenumber-input-box, .join-profile-box .join-nikeid-input-box {
    height: 92px;
    padding-top: 20px;
}

.join-password-input-box .join-password-input-title, .join-password2-input-box .join-password2-input-title, .join-name-input-box .join-name-input-title, .join-nickname-input-box .join-nickname-input-title, .join-birth-input-box .join-birth-input-title, .join-phonenumber-input-box .join-phonenumber-input-title, .join-nikeid-input-box .join-nikeid-input-title {
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: left;
}

.join-password-input-box .join-password-input-value-box, .join-password2-input-box .join-password2-input-value-box, .join-name-input-box .join-name-input-value-box, .join-nickname-input-box .join-nickname-input-value-box, .join-birth-input-box .join-birth-input-value-box, .join-phonenumber-input-box .join-phonenumber-input-value-box, .join-nikeid-input-box .join-nikeid-input-value-box {
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
    float: left;
}

.join-password-input-value-box .join-password-input-value, .join-password2-input-value-box .join-password2-input-value, .join-name-input-value-box .join-name-input-value, .join-nickname-input-value-box .join-nickname-input-value, .join-birth-input-value-box .join-birth-input-value, .join-phonenumber-input-value-box .join-phonenumber-input-value, .join-nikeid-input-value-box .join-nikeid-input-value {
    width: 100%;
    height: 38px;
    border: none;
}

.join-password-box .next-btn-2-box {
    padding-top: 30px;
}

.join-profile-box .next-btn-3-box {
    padding-top: 20px;
}

.next-btn-2-box .next-btn-2.disabled, .next-btn-3-box .next-btn-3.disabled {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #E4E4E4;
}

.next-btn-2-box .next-btn-2.abled, .next-btn-3-box .next-btn-3.abled {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.join-password-box .back-btn-box, .join-profile-box .back-btn-2-box {
    text-align: center;
    padding: 40px 0px
}

.back-btn-box .back-btn, .back-btn-2-box .back-btn-2 {
    font-size: 16px;
    padding-left: 10px;
    color: #626262;
    cursor: pointer;
}

.join-complete-box .logo-box {
    text-align: center;
    padding-top: 160px;
    position: relative;
}

.logo-box .logo-img {
    width: 120px;
}

.logo-box .check {
    position: absolute;
    top: 65%;
    left: 43%;
}

.join-complete-box .complete-title-box {
    text-align: center;
    padding: 0px 20px;
}

.complete-title-box .complete-title {
    font-size: 36px;
    line-height: 48px;
    margin: 0px;
    font-weight: 700;
}

.join-complete-box .congratulation-title-box {
    text-align: center;
    padding: 10px 30px 0px 30px;
}

.congratulation-title-box .congratulation-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    font-weight: 400;
}

.join-complete-box .draw-btn-box {
    padding-top: 80px;
}

.draw-btn-box .draw-btn {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-height: 1080px) {
    .join-box .join-email-box, .join-box .join-password-box, .join-box .join-complete-box {
        margin: 20vh auto !important;
    }
    .join-box .join-profile-box {
        margin: 10vh auto !important;
    }
}

@media (max-height: 924px) {
    .join-profile-box .join-profile-title-box {
        padding: 25px 0px;
    }
    .join-profile-box .back-btn-2-box {
        padding: 25px 0px;
    }
}

@media (max-width: 575px) {
    .join-box .join-email-box, .join-box .join-password-box, .join-box .join-complete-box, .join-box .join-profile-box {
        width: 450px !important;
    }
}

/* 체크 애니메이션 */
.check-line {
    fill:none;
    stroke:#FFFFFF;
    stroke-width:4px;
    stroke-miterlimit:10;
    stroke-dashoffset: 0;
    stroke-dasharray: 60;
}

.check-line {
    stroke:#000000; 
    animation: dash 0.3s linear alternate 1;
}

@keyframes dash {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 0;
    }
}
/* ----------- 체크 애니메이션 */