<!DOCTYPE html>
<html style="font-size: 16px;">
{% load pwa %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>AlphaRaffle</title>
    <!-- Apple Touch 아이콘 -->
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'draw/necessary/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'draw/necessary/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'draw/necessary/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'draw/necessary/apple-touch-icon-180x180.png' %}"> 
    <!-- Android/Chrome 아이콘 -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'draw/necessary/android-chrome-192x192.png' %}">
    <!-- 일반적인 파비콘 -->
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'draw/necessary/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'draw/necessary/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'draw/necessary/favicon-16x16.png' %}">
    <!-- Microsoft 타일 아이콘 -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'draw/necessary/mstile-144x144.png' %}">
    <!-- macOS 탭 핀 -->
    <link rel="mask-icon" href="{% static 'draw/necessary/ar01.svg' %}">
    
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'draw/css/normalize.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/myPage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'draw/css/alpharaffle.css' %}" media="screen">
    
    {% progressive_web_app_meta %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FKLV3QNRNC"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FKLV3QNRNC');
    </script>

    <meta property="og:title" content="myPage">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>

<body>
    <!-- 헤더 -->
    {% include 'draw/header.html' %}
    {% csrf_token %}
    <section class="mypage-section" style="width: 100vw; height: 100vh;">
        <div id="mypage" class="mypage-box nav-up" style="">
            <div id="mypage_nav" class="mypage-nav-box nav-up" style="">
                <div style="width: 100%; height: 22%; padding-bottom: 2vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <div style="width: 50px; height: 50px;">
                        {% if member.profile_img_url == '-' %}
                        <img id="profile_img" style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%;" src="https://objectstorage.ap-seoul-1.oraclecloud.com/n/cnmiqkbsgcj1/b/alpharaffle-storage/o/profiles%2Fdefault.avif">
                        {% else %}
                        <img id="profile_img" style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%;" src="{{member.profile_img_url}}">
                        {% endif %}
                    </div>
                    <p class="main-nickname" style="margin: 0px; padding-top: 10px; font-size: 28px; font-weight: 500; line-height: 30px; border-bottom: 2px solid black;">{{member.member_nickname}}</p>
                </div>
                <div style="width: 100%; height: 43%;">
                    <div class="tab" onclick="location.href = `{% url 'draw:마이페이지북마크' %}`">
                        <div class="icon-box">
                            <span class="icon"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">북마크 관리</p>
                        </div>
                    </div>
                    <div class="tab checked">
                        <div class="icon-box">
                            <span class="icon2"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">응모 내역</p>
                        </div>
                    </div>
                    <div class="tab" onclick="location.href = `{% url 'draw:마이페이지댓글' %}`">
                        <div class="icon-box">
                            <span class="icon3"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">작성한 댓글</p>
                        </div>
                    </div>
                    <div class="tab" onclick="location.href = `{% url 'draw:마이페이지게시물' %}`">
                        <div class="icon-box">
                            <span class="icon4"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">작성한 게시물</p>
                        </div>
                    </div>
                    <div class="tab" onclick="location.href = `{% url 'draw:마이페이지리뷰' %}`">
                        <div class="icon-box">
                            <span class="icon5"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">작성한 리뷰</p>
                        </div>
                    </div>
                    <div class="tab" onclick="location.href = `{% url 'draw:마이페이지개인정보' %}`">
                        <div class="icon-box">
                            <span class="icon6"></span>
                        </div>
                        <div class="title-box">
                            <p class="title">개인정보 관리</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookmark-content content">
                <div style="width: 100%;">
                    <div>
                        <div class="left-arrow" onclick="location.href = `{% url 'draw:마이페이지' %}`"></div>
                        <p class="content-title">찜한 신발</p>
                    </div>
                    <div class="grid-wrapper">
                        {% for shoe in liked_shoes %}
                        <div class="grid-box" data-value="{{shoe.serialno}}">
                            <div class="grid-container" onclick="location.href = STATIC_FULL_URL + '{{shoe.serialno}}', '_blank';">
                                <div class="grid-img-box">
                                    <div class="img-box">
                                        <img class="lazyload shoeimg" data-src="{% static 'draw/images/' %}{{shoe.serialno}}0.avif">
                                    </div>
                                    <div class="bookmark-icon">
                                        {% if member in shoe.likes.all %}
                                        <label class="bookmark-icon-label on">
                                            <span class="icon"></span>
                                        </label>
                                        {% else %}
                                        <label class="bookmark-icon-label">
                                            <span class="icon"></span>
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="grid-shoename-box">
                                    <p class="shoename">{{shoe.shoename}}</p>
                                </div>
                                <div class="grid-pubdate-box">
                                    <p class="pubdate">{{shoe.pubdate}} 발매</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    
                </div>
            </div>
        </div>
        <script>const STATIC_FULL_URL = "{% url 'draw:상세정보' %}?serialnum=";const STATIC_IMAGES_URL = "{% static 'draw/images/' %}";</script>
    </section>

    {% include 'draw/search.html' %}

    {% include 'draw/loading.html' %}

    {% include 'draw/go_up.html' %}

    
    <script class="u-script" type="text/javascript" src="{% static 'draw/js/jquery.js' %}" defer=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'draw/js/lazysizes.min.js' %}"></script>
    <script src="{% static 'draw/js/myPage.js' %}"></script>
    <script src="{% static 'draw/js/alpharaffle.js' %}"></script>
    
</body>

</html>