/* 크롬 자동완성 파란색 없애기 */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px #fbfbfb inset ; -webkit-text-fill-color: #000; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

/* 푸터 하단 고정 */
#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 160px;
}
footer {
    height: 120px;
    position: relative;
    /* transform: translateY(-100%); */
    bottom: 0;
}
/* ---------푸터 하단 고정 */

/* 마우스커서 */
/* html { cursor: none; }
#drawing_line { position: relative; z-index: 1500; height: 0; }
#drawing_line > svg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; pointer-events: none; }
#drawing_line > svg .drawing_line_polyline { fill: none; stroke: #000000; stroke-width: 2; }
#drawing_line > svg .drawing_line_circle { fill: #000000;} */
/* --------마우스커서 */

/* 로고 이미지 */
/* .u-logo.u-image-1 {
    padding-bottom: 14px;
} */

.comment-icon {
  position: absolute;
  bottom: 10px;
  left: 62px;
  width: 24px;
  height: 24px;
}

.comment-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.comment-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/comment.svg) no-repeat center center/20px auto;
  position: relative;
  z-index: 1;
}

/* 북마크 아이콘 */
.bookmark-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
}

.bookmark-icon-label {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.bookmark-icon-label .icon {
    display: block;
    height: 100%;
    background: url(../necessary/like.svg) no-repeat center center/24px auto;
    position: relative;
    z-index: 1;
}

/* .bookmark-icon-label input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
} */

/* .bookmark-icon-label.on input:checked + .icon {
    background: url(../necessary/like_fill.svg) no-repeat center center/24px auto;
} */

.bookmark-icon-label.on .icon {
  background: url(../necessary/like_fill.svg) no-repeat center center/24px auto;
}

.bookmark-layer, .report-layer {
    transition: all 0.1s;
}

.bookmark-layer.off, .report-layer.off, .report-form-layer.off {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -300;
    font-size: 0px;
    border: 2px solid black;
    border-radius: 50px;
}

/* .bookmark-layer.off .title_area, .bookmark-layer.off .title_area .title {
    height: 0px;
} */

.bookmark-layer.on, .report-layer.on, .report-form-layer.on {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 280px;
    padding: 24px 20px 20px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* transition: all 0.5s; */
    border: 2px solid black;
    border-radius: 50px;
}

/* 메뉴 아이콘 */
.menu-icon {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.menu-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.menu-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/menu-line.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
}

/* 위아래 화살표 아이콘 */
.viewSort-icon {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.viewSort-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.viewSort-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/Group.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
}

/* 검색 아이콘 */
.search-icon {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, 0);
  
}

.search-icon-label {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.search-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/search.svg) no-repeat center center/17px auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.1s;
}

.search-icon-label .icon:hover, .search-link:hover .search-icon-label .icon {
  background: url(../necessary/search_hover.svg) no-repeat center center/17px auto;
}

.search-link {
  transition: all 0.1s;
}

.u-section-1.blurOn {
    filter: blur(4px);
    transition: all 0.5s;
}

.u-section-1.blurOff {
    filter: blur(0px);
    transition: all 0.5s;
}

.u-section-2.blurOn {
    filter: blur(4px);
    transition: all 0.5s;
}

.u-section-2.blurOff {
    filter: blur(0px);
    transition: all 0.5s;
}

.u-section-3.blurOn {
    filter: blur(4px);
    transition: all 0.5s;
}

.u-section-3.blurOff {
    filter: blur(0px);
    transition: all 0.5s;
}

.u-section-4.blurOn {
    filter: blur(4px);
    transition: all 0.5s;
}

.u-section-4.blurOff {
    filter: blur(0px);
    transition: all 0.5s;
}

.bookmark-layer .title_area, .report-layer .title_area, .report-form-layer .title_area {
    font-size: 16px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.bookmark-layer .content_area, .report-layer .content_area {
    overflow: auto;
    flex: 1;
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    text-align: center;
}

.bookmark-layer .btn_area, .report-layer .btn_area, .report-form-layer .btn_area {
    display: flex;
    margin-top: 24px;
}

.bookmark-layer .btn_area .u-btn-2, .report-layer .btn_area .u-btn-2, .report-form-layer .btn_area .u-btn-2 {
    flex: 1;
    margin-left: 8px;
}

.bookmark-layer .btn_area .u-btn-2:first-child, .report-layer .btn_area .u-btn-2:first-child, .report-form-layer .btn_area .u-btn-2:first-child {
    margin-left: 0px;
}

/*end-variables sitestylecss*/
header {
  z-index: 2;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  /* border-bottom-style: solid; */
  /* border-bottom-color: black; */
  position: fixed;
  height: 84px;
}

.u-header {
    background-image: none;
  }
  
  .u-header .u-sheet-1 {
    min-height: 84rpx;
  }
  
  .u-header .u-image-1 {
    width: 112px;
    height: 70px;
    margin: 7px auto 0 22px;
  }
  
  .u-header .u-logo-image-1 {
    width: 100%;
    height: 100%;
  }

  .u-header .u-nav-link{
    margin-top: 14px;
  }
  
  .u-header .u-menu-1 {
    margin: -68px 0 25px auto;
  }
  
  .u-header .u-nav-1 {
    font-size: 1rem;
    letter-spacing: normal;
  }
  
  .u-header .u-nav-2 {
    font-size: 1rem;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .u-header .u-menu-1 {
      width: auto;
    }
  }
  
  
  
   .u-footer {
    background-image: none;
  }
  
  .u-footer .u-sheet-1 {
    min-height: 120px;
  }
  
  .u-footer .u-text-1 {
    width: 417px;
    margin: 49px auto;
  }
  
  
  
  @media (max-width: 575px) {
    .u-footer .u-text-1 {
      width: 340px;
    }
  }
  
   /*begin-variables base-font-size*/ 
   html { font-size: 16px; }
   /*end-variables base-font-size*/

.grid-wrapper-box {
    width: 100vw;
    /* height: 33vh; */
    /* height: 30%; */
    float: left;
    background-color: #FBFBFB;
    /* display: flex;
    flex-direction: column; */
}

.ad-box {
    width: 17.5vw;
    height: 33vh;
    float: left;
}



/* grid */
.grid-wrapper {
  float: left;
  width: 65vw;
  /* height: 33vh; */
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); */
  grid-template-columns: repeat(5, 20%);
  /* overflow-x: auto; */
  grid-auto-rows: 410px;
  column-gap: 0px;
  row-gap: 0px;
}

@media (max-width:1919px) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width:1365px) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 33.33%);
  }
}

@media (max-width:1023px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width:575px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 100%);
  }
}

.shoebar {
  width: 100%;
  height: 40px;
  position: relative;
}

.shoebar .shoeLength {
  position: absolute;
  left: 40px;
  bottom: 0px;
  line-height: 24px;
}

.shoebar .viewSort {
  position: absolute;
  right: 40px;
  bottom: 0px;
  line-height: 24px;
}

.shoebar .shoebar-text {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #777777;
}

.grid-box {
    padding: 5px 10px 15px 10px;
}

.grid-container {
  width: 100%;
  height: 100%;
  border: 0.5px solid #C8C8C8;
  border-radius: 10px;
  position: relative;
  /* padding: 10px 5px; */
}

.grid-img-box {
  width: 100%;
  height: 70%;
  float: left;
  cursor: pointer;
}

.grid-img-box .img-box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.img-box .shoeimg {
  /* width: 231px; */
  width: 100%;
  height: 100%;
  /* border: 0.5px solid #C8C8C8; */
  border-top: 0.5px solid #C8C8C8;
  border-bottom: 0.5px solid #C8C8C8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
}

.commentCount-box {
  position: absolute;
  bottom: 9px;
  left: 86px;
  width: 28px;
  text-align: left;
  padding-left: 3px;
}

.shoelikecount-box {
  position: absolute;
  bottom: 9px;
  left: 34px;
  width: 28px;
  text-align: left;
  padding-left: 3px;
}

.commentCount-box .commentCount, .shoelikecount-box .shoelikecount {
  margin: 0px;
  color: #777777;
  font-weight: 700;
}

.grid-shoename-box {
  width: 100%;
  height: 13%;
  float: left;
  padding: 2px 5px;
  display: table;
  text-align: center;
}

.grid-shoename-box .shoename {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
}

.grid-pubdate-box {
  width: 100%;
  height: 7%;
  float: left;
  text-align: center;
}

.grid-pubdate-box .pubdate {
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
  margin: 0px;
}

.grid-goBtn-box {
  width: 100%;
  height: 10%;
  float: left;
  text-align: right;
  padding-top: 2px;
  padding-right: 10px;
}

.grid-goBtn-box .goBtn {
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  width: 90px;
  border: 0.5px solid rgba(200, 200, 200, 1);
  border-radius: 10px;
  cursor: pointer;
}
   
/* ------------ grid */