body {
  background: #FBFBFB !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
  
  .u-section-1 .u-gallery-1 {
    padding-bottom: 100%;
  }
  
  .u-section-1 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
  }

  .u-layout-carousel .u-carousel-inner {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .u-section-1 .u-carousel-item-1 {
    margin-right: 0;
  }
  
  .u-section-1 .u-back-slide-1 {
    background-image: none;
  }
  
  .u-section-1 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-2 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-3 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-4 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  .u-section-1 .u-carousel-item-5 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  .u-section-1 .u-carousel-item-6 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-7 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-7 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-8 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-8 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-9 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-9 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-item-10 {
    margin-right: 0;
  }
  
  .u-section-1 .u-over-slide-10 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  }
  
  .u-section-1 .u-carousel-control-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  
  .u-section-1 .u-carousel-control-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  
  .u-section-1 .product-info {
    width: 480px;
    height: 700px;
    float: right;
    margin: 50px 0px 0px 40px;
  }
  
  .u-section-1 .product-info-name {
    height: 30%;
  }
  
  
  .u-section-1 .product-info-name-shoename {
    width: 80%;
    height: 179.4px;
    float: left;
  }
  
  .u-section-1 .product-info-name-shoename-ko {
    height: 50%;
  }
  
  .u-section-1 .product-info-name-shoename-ko-text {
    margin: 0px 0px 0px 20px;
    padding-top: 50px;
    font: 20px bold;
    font-weight: 600;
  }
  
  .u-section-1 .product-info-name-shoename-en {
    height: 50%;
    border-bottom: 1px solid;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }
  
  .u-section-1 .product-info-name-shoename-en-text {
    margin: 0px 0px 0px 20px;
    padding: 10px 0px 0px 0px;
    /* font: 17px bold; */
    font-size: 13px;
  }
  
  .u-section-1 .product-info-name-tag {
    flex: 1 0 auto;
    /* height: 100%; */
    position: relative;
  }
  
  .u-section-1 .product-info-name-tag-tagname {
    padding: 0px 0px 0px 20px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
  }
  
  .u-section-1 .product-info-name-logo {
    width: 20%;
    height: 179.4px;
    float: right;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
  }
  
.product-info-name-logo-img {
    /* position: absolute; */
    left: 10px;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 25px;
    height: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .u-section-1 .product-info-details {
    height: 30%;
  }
  
  .u-section-1 .product-info-details-serialno {
    height: 33.3%;
    align-items: center;
  }
  
  .u-section-1 .product-info-details-pubdate {
    height: 33.3%;
  }
  
  .u-section-1 .product-info-details-shoeprice {
    height: 33.3%;
  }
  
  .u-section-1 .product-info-details-name {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px bold;
    font-weight: 600;
  }
  
  .u-section-1 .product-info-details-data {
    float: right;
    margin-right:20px;
    font-size: 17px;
  }
  
  .u-section-1 .product-info-contents {
    height: 40%;
    margin-top: 20px;
    border-top: 1px solid;
  }
  
  .u-section-1 .product-info-contents-name {
    margin: 20px 0px 0px 20px;
    font-size: 15px bold;
    font-weight: 600;
  }
  
  .u-section-1 .product-info-contents-none {
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
  }
  
  .u-section-1 .product-info-contents-shoedetail {
    margin: 20px 20px 20px 20px;
    font-size: 13px;
  }
  
  /* .u-section-1 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    margin: -49px 173px 0 auto;
  } */
  
  @media (max-width: 1199px) {
    .u-section-1 .u-gallery-1 {
      width: 100%;
      height: 100%;
    }
  
    .u-section-1 .product-info {
      margin-left: auto !important;
      margin-right: 130px !important;
      width: 450px !important;
      height: 500px !important;
    }
  
    .product-info .product-info-details {
      margin-top: 55px;
    }
  
  }
  
  @media (max-width: 991px) {
  
    .u-section-1 .u-gallery-1 {
      width: 100%;
      height: 100%;
      /* margin-top: 50px;
      margin-left: 110px;
      margin-right: auto; */
      
    }
  
    /* .u-section-1 .u-btn-1 {
      margin-top: 397px;
      margin-right: auto;
    } */
  }
  
  @media (max-width: 767px) {
  
  
    .u-section-1 .product-info {
      margin-right: 45px !important;
    }
  
    /* .u-section-1 .u-btn-1 {
      margin-top: 395px;
    } */
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-gallery-1 {
      width: 400px;
      height: 400px;
      margin-top: 10px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-over-slide-1 {
      padding: 20px;
    }
  
    .u-section-1 .u-over-slide-2 {
      padding: 20px;
    }
  
    .u-section-1 .product-info {
      width: 400px !important;
      margin-right: 25px !important;
    }
  
  }
  
  
  /* 테이블 테두리 곡선 */
  table {
    border-collapse: collapse;
    border-radius: 25px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #000;
  }
  
  /* 버튼 hover 시간 */
  .u-btn {
    transition-duration: 0.5s;
  }
  
  .u-btn:hover {
    transition-duration: 0.5s;
  }
  /* ----------버튼 hover 시간 */
  
  /* 댓글 프로필 이미지 */
  .profile_img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    float: left;
  }
  
  /* 카운트다운 일시분초 색상 */
  .u-text-custom-color-1 {
      color: #ff0000 !important;
  }
  
  .comment_div {
    width: 700px;
    height: auto;
    margin: 10px auto;
    display: inline-block;
  }
  
  @media (max-width: 1199px) {
    .comment_div {
      width: 80%;
    }
    .reply {
      width: 70%;
    }
  }
  
  .comment_header {
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;
  }
  
  .comment_content {
    width: 100%;
    height: auto;
    text-align: left;
  }
  
  .reply-btn {
    transition-duration: 0.5s;
    background-color: white;
    font-size: 10px;
    border: 1px solid;
    border-radius: 50px;
    margin: 10px 0px 0px 50px;
    float: left;
  }
  
  .comment_footer {
    width: 100%;
    height: 40px;
    background-color: #E6E6E6;
  }
  
  .comment-created-date {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 10px;
    margin-right: 10px;
  }
  
  .p_comment {
    margin: 10px 50px 0px 50px;
  }
  
  .borderBottomNone {
    border-bottom: none !important;
  }
  
  /* 신고버튼 */
  .report_btn {
    transition-duration: 0.5s;
    background-color: white;
    border: 1px solid;
    border-radius: 50px;
    float: right;
    margin: 10px 20px 0px 0px;
    font-size: 10px;
  }
  
  
  /* 좋아요 버튼 */
  .icon.heart{
    display: flex;
    float: right;
    margin: 10px 10px 0px 0px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  
    border-radius: 50%;
    border: solid 1px black;
    background-color: #fff;
  }
  
  .icon.heart img{
    width: 11px;
    height: 11px;
  }
  
  .icon.heart.fas{
    color:red
  }
  
  .heart{
    transform-origin: center;
  }
  
  .heart.active img{
    animation: animateHeart .3s linear forwards;
  }
  
  @keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
  }
  /* ---------- 좋아요 버튼 */
  
  /* url 아이템 배경색 */
  .u-repeater-item {
    background-color: whitesmoke;
  }
  
  /* 글자수 제한 */
  .maxLength-box {
    height:20px;
    width: 50px;
    position: absolute;
    top: 40px;
    right: 30px;
  }
  
  .maxLength-box-font {
    font-size: 8px;
    margin: 0 0 0 0 !important;
    height: 20px;
    line-height: 200%;
    text-align: right;
    color: #848484;
  }
  /* ---------- 글자수 제한 */
  
  .commentLength {
    float: right;
    margin-top: 4px;
    margin-right: 25px;
    font-size: 12px;
    font-weight: 200;
  }
  
  /* 북마크 아이콘 */
.details-bookmark-icon {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.details-bookmark-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.details-bookmark-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/like.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.details-bookmark-icon-label.on .icon {
  background: url(../necessary/like_fill.svg) no-repeat center center/24px auto;
}

.details-bookmark-icon-label:hover .icon {
  background: url(../necessary/like_fill.svg) no-repeat center center/24px auto;
}

.wrapper {
  float: left;
  width: 100%;
  display: flex;
  
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 0px;
  padding: 6vh 0px;
}

.wrapper-items {
  width: 160px; height: 220px; background: white; border-radius: 5px; border: 0.30px #777777 solid; margin-right: 20px; margin-bottom: 20px; flex-direction: column; transition: all 0.5s; cursor: pointer;
}
@media(hover: hover) and (pointer: fine) {
  .wrapper-items:hover {
    background: #333333;
  }

  .wrapper-items:hover .text-date, .wrapper-items:hover .text-sitename, .wrapper-items:hover .text-shoename {
    color: #ffffff;
  }
}
.wrapper-items-blur {
  width: 160px; height: 220px;  margin-right: 20px; margin-bottom: 5px; flex-direction: column;
}

.wrapper-items-blur-box {
  filter: blur(4px); background: rgba(119, 119, 119, 0.70); width: 100%; height: 100%; border-radius: 5px; border: 0.30px #777777 solid;
}

.wrapper-items-None {
  width: 100%;
  height: 240px;
  display: table;
  text-align: center;
}

.wrapper-link {
  display: flex; flex-direction: column; color: #111111 !important;
}
.text-sitename {
  font-size: 14px; font-weight: 500; margin: 0; display: table-cell; vertical-align: middle;
}

.text-shoename {
  font-size: 12px; font-weight: 500; margin: 0;
}
.text-date {
  font-size: 10px; line-height: 10px; font-weight: 200; margin: 0; display: table-cell; vertical-align: middle;
}



/* 위아래 화살표 아이콘 */
.details-viewSort-icon {
  position: absolute;
  bottom: 12px;
  right: 0px;
  width: 24px;
  height: 24px;
}

.details-viewSort-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.details-viewSort-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/Group.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
}
/* 댓글 전송 아이콘 */
.comment-send-icon {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
  right: 0px;
  width: 24px;
  height: 24px;
}

.comment-send-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.comment-send-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/send_btn.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
}

/* 대댓글 전송 아이콘 */
.comment-reply-send-icon {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
  right: 0px;
  width: 24px;
  height: 24px;
}

.comment-reply-send-icon-label {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.comment-reply-send-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/send_btn.svg) no-repeat center center/24px auto;
  position: relative;
  z-index: 1;
}

/* 댓글 좋아요 아이콘 */
.comment-like-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 74px;
  width: 18px;
  height: 18px;
}

.comment-like-icon-label {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

.comment-like-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/comment_like_btn.svg) no-repeat center center/18px auto;
  position: relative;
  z-index: 1;
}

/* 댓글 싫어요 아이콘 */
.comment-hate-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  width: 18px;
  height: 18px;
}

.comment-hate-icon-label {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

.comment-hate-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/comment_hate_btn.svg) no-repeat center center/18px auto;
  position: relative;
  z-index: 1;
}

/* 댓글 옵션 아이콘 */
.comment-option-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
}

.comment-option-icon-label {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.comment-option-icon-label .icon {
  display: block;
  height: 100%;
  background: url(../necessary/comment_option_btn.svg) no-repeat center center/20px auto;
  position: relative;
  z-index: 1;
}

.ad-box {
  width: 17.5vw; height: 100%; float: left;
}

.top-ad-box {
  width: 100%;
  height: 20vh;
}

.bottom-ad-box {
  float: left;
  margin: 20px 0; width: 100%; height: 10vh;
}

.left-ad-box {
  position: fixed; left: 0; top: 50%; transform: translateY(-50%);
}

.right-ad-box {
  position: fixed; right: 0; top: 50%; transform: translateY(-50%);
}

.details-box {
  width: 100vw; height: calc(100vh - 64px); top: 64px; position: relative;
}

.whole-box {
  max-width: 1080px; padding: 0 10px; margin: 0 auto;
}

.box1 {
  height: calc(80vh - 64px); padding-bottom: 20vh; padding-top: 10px;
}

.box1-items-1 {
  width: 40%; height: 100%; float: left; position: relative;
}
.box1-items-2 {
  width: 60%; height: 100%; float: left; padding-left: 50px;
}

.shoename {
  font-size: 32px; font-weight: 900; line-height: 36px;
}

.shoeengname {
  font-size: 20px; font-weight: 500; color: rgba(0, 0, 0, 0.50); line-height: 24px;
}

.title {
  font-size: 24px; font-weight: 500;
}

.serialno, .serialnoSlash, .pubdate, .shoeprice, .category, .product-color {
  font-size: 24px; font-weight: 700;
}

.serialno-duplicate-icon {
  width: 24px; height: 38.4px; cursor: pointer; transition: all 0.2s; background: url('../necessary/copy_line.svg') no-repeat center; margin-left: 5px;
}

.serialno-duplicate-icon.duplicated {
  background: url('../necessary/copy_line_fill.svg') no-repeat center;
}

@media(hover: hover) and (pointer: fine) {
  .serialno-duplicate-icon:hover {
    background: url('../necessary/copy_line_fill.svg') no-repeat center;
  }
}

.box2, .box3 {
  height: calc(100vh - 64px);
}

.box-title {
  font-size: 36px; font-weight: 900;
}

.box-title-comment {
  color: #777777; font-size: 24px; font-weight: 400;
}

.comment-count {
  position: absolute; left: 80px; bottom: 0; margin: 0 !important; font-size: 20px; font-weight: 300; color: #777; line-height: 43px;
}

.details-viewSort-title {
  position: absolute; right: 30px; bottom: 14px; margin: 0 !important; font-size: 20px; font-weight: 300; color: #777; line-height: 20px;
}

.comment-write-box {
  width: 100%; padding: 20px 50px; background: #EEEEEE; border-radius: 10px; margin-top: 30px;
}

.member-nickname-text {
  font-size: 20px; font-weight: 500; line-height: 36px; margin-left: 10px;
}

.comment-list-box {
  padding: 20px 50px; height: auto; overflow: hidden;
}

.comment-member-nickname-text {
  font-size: 16px; font-weight: 500;
}

.comment-created-text {
  font-size: 14px; font-weight: 500; color: #C8C8C8; margin-left: 15px;
}

.comment-comment {
  font-size: 16px; font-weight: 200;
}

.comment-reply-logout, .comment-reply {
  font-size: 14px; font-weight: 400; color: #777777; cursor: pointer;
}

.comment-like-length {
  position: absolute; margin: 0; font-size: 14px; font-weight: 700; color: #3E3E3E; right: 56px; top: 50%; transform: translateY(-50%);
}

.comment-hate-length {
  position: absolute; margin: 0; font-size: 14px; font-weight: 700; color: #3E3E3E; right: 0px; top: 50%; transform: translateY(-50%);
}

.current {
  color: #333333; font-weight: 400;
}

.page-num {
  color: #C8C8C8; font-weight: 400;
  transition: all 0.2s;
  cursor: pointer;
}

.page-num:hover {
  color: #333333;
}

.page-url {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.page-icon {
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.page-previous-icon {
  width: 16px; height: 16px; cursor: pointer; transition: all 0.2s; background: url('../necessary/page_previous_icon.svg') no-repeat center;
}

.page-previous-icon:hover {
  background: url('../necessary/page_previous_fill_icon.svg') no-repeat center
}

.page-first-icon {
  width: 16px; height: 16px; cursor: pointer; transition: all 0.2s; background: url('../necessary/page_first_icon.svg') no-repeat center;
}

.page-first-icon:hover {
  background: url('../necessary/page_first_fill_icon.svg') no-repeat center
}

.page-next-icon {
  width: 16px; height: 16px; cursor: pointer; transition: all 0.2s; background: url('../necessary/page_next_icon.svg') no-repeat center;
}

.page-next-icon:hover {
  background: url('../necessary/page_next_fill_icon.svg') no-repeat center
}

.page-last-icon {
  width: 16px; height: 16px; cursor: pointer; transition: all 0.2s; background: url('../necessary/page_last_icon.svg') no-repeat center;
}

.page-last-icon:hover {
  background: url('../necessary/page_last_fill_icon.svg') no-repeat center
}

.details-anotherShoe-shoename-box {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


@media (max-width: 767px) {
  .left-ad-box, .right-ad-box {
    display: none;
  }

  .top-ad-box {
    height: 15vh !important;
  }

  .details-box {
    padding: 0;
  }

  .whole-box {
    width: 100vw;
    float: none;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 5vh;
  }

  .box1-items-1 {
    width: 100%;
  }
  .box1-items-2 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
  }

  .shoename {
    font-size: 26px;
  }
  
  .shoeengname {
    font-size: 18px;
  }

  .title {
    font-size: 20px;
  }

  .serialno, .serialnoSlash, .pubdate, .shoeprice, .category, .product-color {
    font-size: 20px !important;
  }

  .serialno-duplicate-icon {
    height: 32px;
  }

  .shoedetail {
    font-size: 14px;
  }

  .box2, .box3 {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .box-title {
    font-size: 26px;
  }

  .box-title-comment {
    font-size: 20px;
  }

  .comment-count {
    left: 60px; font-size: 18px; line-height: 34px;
  }

  .details-viewSort-title {
    bottom: 7px;
    font-size: 18px;
  }

  .details-viewSort-icon {
    bottom: 6px;
  }
  
  .wrapper {
    width: 100%;
    justify-content: center;
    margin-right: 0;
    gap: 10px;
  }

  .no-margin {
    margin: 0;
  }

  .comment-write-box {
    padding: 20px;
  }

  .comment-list-box {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .details-box {
    height: calc(100vh - 56px); top: 56px;
  }

  .shoename {
    font-size: 20px;
  }
  
  .shoeengname {
    font-size: 14px;
  }

  .title {
    font-size: 14px;
  }

  .serialno, .serialnoSlash, .pubdate, .shoeprice, .category, .product-color {
    font-size: 14px !important;
  }

  .serialno-duplicate-icon {
    height: 24px;
  }

  .shoedetail {
    font-size: 12px;
  }

  .box-title {
    font-size: 20px;
  }

  .box-title-comment {
    font-size: 14px;
  }

  .comment-count {
    left: 50px; font-size: 14px; line-height: 32px;
  }

  .details-viewSort-title {
    font-size: 14px;
  }

  .details-viewSort-icon-label .icon {
    background: url(../necessary/Group.svg) no-repeat center center/20px auto;
  }

  .comment-send-icon-label .icon {
    background: url(../necessary/send_btn.svg) no-repeat center center/20px auto;
  }

  .member-nickname-text {
    font-size: 16px;
  }

  .commentArea {
    font-size: 14px;
  }

  .comment-member-nickname-text {
    font-size: 14px;
  }

  .comment-created-text {
    font-size: 12px;
  }

  .comment-write-box > p {
    font-size: 14px;
  }

  .comment-comment {
    font-size: 14px;
  }

  .comment-reply-logout, .comment-reply {
    font-size: 12px; 
  }

  .comment-like-icon-label .icon {
    background: url(../necessary/comment_like_btn.svg) no-repeat center center/16px auto;
  }
  
  .comment-hate-icon-label .icon {
    background: url(../necessary/comment_hate_btn.svg) no-repeat center center/16px auto;
  }

}

@media (max-width: 430px) {
  .box1-items-2 {
    padding: 0 10px;
  }

  .box2, .box3 {
    padding: 0 10px;
  }

  .comment-write-box {
    padding: 20px 10px;
  }

  .comment-list-box {
    padding: 20px 0px;
  }

  .comment-like-length, .comment-hate-length {
    font-size: 12px;
  }

}