.u-section-1 .u-sheet-1 {
  min-height: 597px;
  margin-top: 100px;
}

.u-section-1 .u-group-1 {
  width: 927px;
  --animation-custom_in-scale: 1;
  height: auto;
  min-height: 541px;
  /*margin: 33px auto 23px;*/
  margin: 28px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 37px 28px 0 auto;
  padding: 32px 88px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-countdown-message-1 {
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-1 .u-table-1 {
  width: 434px;
  margin: 16px 16px 0 auto;
}

.u-block-57f3-38 {
  font-weight: 700;
  border-style: solid;
}

.u-block-57f3-44 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  border-style: solid;
}

.u-block-57f3-57 {
  height: 46px;
}

.u-section-1 .u-gallery-1 {
  height: 450px;
  width: 450px;
  margin: -350px auto 0 11px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-slide-1 {
  background-image: none;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  margin: -49px 173px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-countdown-1 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(100px) scale(1) rotate(0deg);
    margin-top: -58px;
  }

  .u-section-1 .u-table-1 {
    height: 213px;
    margin-top: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-group-1 {
    min-height: 994px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 444px;
    margin-right: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -810px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 397px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 33px;
    margin-bottom: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 402px;
  }

  .u-section-1 .u-table-1 {
    width: 406px;
    margin-top: 95px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -800px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-bottom: 40px;
    min-height: 737px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 249px;
    padding: 4px 52px;
  }

  .u-section-1 .u-table-1 {
    width: 305px;
    margin-top: 110px;
    height: auto;
  }

  .u-section-1 .u-gallery-1 {
    height: 338px;
    margin-top: -644px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-1 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 324px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 881px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-2 .u-products-1 {
  width: 928px;
  margin: 68px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 699px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-3 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-4 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-5 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-6 {
  height: 168px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-products-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1220px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2172px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-products-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 185px;
    width: 285px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-products-1 {
    width: 340px;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 916px;
}

.u-section-3 .u-text-1 {
  width: 844px;
  line-height: 1.6;
  margin: 61px auto 0;
  border-bottom: 2px solid black;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  width: 182px;
  margin: 127px auto 0;
}

.u-section-3 .u-group-1 {
  width: 844px;
  min-height: 22px;
  height: auto;
  margin: 123px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-3 .u-form-1 {
  height: 229px;
  width: 642px;
  margin: 45px auto 0;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-text-3 {
  margin: -53px 511px 60px 268px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 411px;
    margin-left: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 301px;
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 179px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

/* 헤더 고정 */
header {
  z-index: 1;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom-style: solid;
  border-bottom-color: black;
  position: fixed;
}

/* 테이블 테두리 곡선 */
table {
  border-collapse: collapse;
  border-radius: 25px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
}

/* 섹션2 애니메이션 */
.u-section-2 {
  animation: fadeIn 1s;
}

/* 버튼 hover 시간 */
.u-btn {
  transition-duration: 0.5s;
}

.u-btn:hover {
  transition-duration: 0.5s;
}
/* ----------버튼 hover 시간 */

/* 댓글 프로필 이미지 */
.profile_img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  float: left;
}

/* 카운트다운 일시분초 색상 */
.u-text-custom-color-1 {
    color: #ff0000 !important;
}

.comment_div {
  height: 120px;
  margin: 30px 100px 0px 100px;
}

.comment_header {
  width: 100%;
  height: 40px;
}

.comment_content {
  width: 100%;
  height: 40px;
}

.comment_footer {
  width: 100%;
  height: 40px;
}

