.filter-layer.off {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: -330px;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.filter-layer.on {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.u-section-1.blurOn {
    filter: blur(4px);
    /* pointer-events: none; */
}

.u-section-1.blurOff {
    filter: blur(0px);
}

.filter-layer-hide {
    width: auto;
    height: 84px;
}

.filter-layer-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: calc(100vh - 100px);
}

.filter-layer-header {
    width: 300px;
    /* height: 38px; */
    height: 0px;
    position: relative;
    font-size: 17px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
}

.filter-layer-content {
    width: auto;
    flex: 1;
    padding: 0 20px 0px;
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.filter-layer-content-content:first-child {
    border: 0;
    padding-top: 8px;
}

.filter-layer-content-content {
    padding: 12px 0;
    /* border-top: 1px solid #000; */
}

.filter-layer-content-content-title {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    color: #000;
    font-weight: 600;
}

.filter-layer-content-content-list {
    overflow: auto;
    /* overflow-x: hidden; */
    /* max-height: 320px; */
    max-height: 220px;
}

.filter-layer-content-content.accordion-type .filter-layer-content-content-list {
    display: none;
}

.filter-layer-content-content.accordion-type.on .filter-layer-content-content-list {
    display: block;
}

.filter-layer-content-content-list-radiobox, .filter-layer-content-content-list-checkbox {
    font-size: 15px;
    line-height: 39px;
    height: 40px;
    position: relative;
    padding-left: 30px;
}

.filter-layer-content-content-list-radiobox label, .filter-layer-content-content-list-checkbox label {
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

.filter-layer-content-content-list-radiobox .radiobox-icon, .filter-layer-content-content-list-checkbox .checkbox-icon {
    position: absolute;
    top: 12px;
    left: 0;
    padding-right: 12px;
}

.filter-layer-content-content-list-radiobox .radiobox-icon input, .filter-layer-content-content-list-checkbox .checkbox-icon input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type="radio"] {
    padding: 0;
}

input[type="checkbox"] {
    padding: 0;
}

.filter-layer-content-content-list-radiobox .radiobox-icon .icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 50%;
    box-sizing: border-box;
}

.filter-layer-content-content-list-checkbox .checkbox-icon .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #666;
    border-radius: 1px;
    box-sizing: border-box;
}

.filter-layer-content-content-list-radiobox .radiobox-icon input:checked+.icon:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}

.filter-layer-content-content-list-checkbox .checkbox-icon input:checked+.icon, .filter-layer-content-content-list-checkbox .checkbox-icon input.checked+.icon {
    background: #000 url(../images/icon_checkbox.avif) 50% 50% no-repeat;
    background-size: 12px auto;
    border-color: #000;
}

.filter-layer-content-content-title>a {
    display: block;
    position: relative;
    color: #000;
}

/* .filter-layer-content-content.accordion-type .filter-layer-content-content-title>a::after {
    position: absolute;
    right: 0;
    top: 50%;
    width: 12px;
    height: 6px;
    margin-top: -3px;
    background-image: url("data:image/svg+xml;charset=utf8,%0A%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%23959595' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    content: "";
} */

/* .filter-layer-content-content.accordion-type.on .filter-layer-content-content-title>a::after {
    transform: rotate(-180deg);
} */

.filter-layer-footer {
    width: auto;
    display: flex;
    padding: 8px;
    height: auto;
}

.filter-layer-footer .u-reset-btn {
    flex: 1;
}

.filter-layer-footer .u-apply-btn {
    flex: 1;
    margin-left: 8px;
}

.filter-layer-footer .u-apply-btn.disabled {
    flex: 1;
    margin-left: 8px;
    background: #f4f4f45d !important;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

/* 필터링 적용 버튼 */
.apply-icon {
    position: absolute;
    top: 50%;
    left: 33.3%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.apply-icon-label {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

.apply-icon-label .icon {
    display: block;
    height: 100%;
    background: url(../necessary/apply_btn.svg) no-repeat center center/50px auto;
    position: relative;
    z-index: 1;
}

/* 필터링 초기화 버튼 */
.reset-icon {
    position: absolute;
    top: 50%;
    left: 66.6%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.reset-icon-label {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

.reset-icon-label .icon {
    display: block;
    height: 100%;
    background: url(../necessary/reset_btn.svg) no-repeat center center/50px auto;
    position: relative;
    z-index: 1;
}

/* 필터링 닫기 버튼 */
.exit-icon {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 16px;
    height: 16px;
    transition-duration: 0.5s;
}

.exit-icon-label {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

.exit-icon-label .icon {
    display: block;
    height: 100%;
    background: url(../necessary/exit_btn.svg) no-repeat center center/16px auto;
    position: relative;
    z-index: 1;
}

.filter-flex {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
}

.filter-flex-items {
    width: 50%;
}

.viewsort-filter-flex {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    padding: 10px 20px;
    background-color: white;
    z-index: 2;
    top: 5px;
    right: 10px;
    border-radius: 5px;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewsort-filter-flex.off {
    display: none;
}

.viewsort-fliter-items {
    height: 70px;
}

.viewsort-fliter-items .viewsort-items-box {
    position: relative;
    height: 50px;
}

.viewsort-fliter-items .viewsort-items-comment {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
}

.viewsort-items-box .viewsort-items-text {
    margin: 0;
    position: absolute;
    left: 40px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

/* 필터링 서클 버튼 */
.circle-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
}

.circle-icon-label {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

.circle-icon-label .icon {
    display: block;
    height: 100%;
    background: url(../necessary/circle_btn.svg) no-repeat center center/24px auto;
    position: relative;
    z-index: 1;
}

.circle-icon-label input:checked+.icon {
    background: url(../necessary/circle_fill_btn.svg) no-repeat center center/24px auto;
}
.circle-icon-label input {
    visibility: hidden; position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

@media (max-width: 991px){
    .search-result {
        padding: 20px 50px 5px 50px !important;
        font-size: 20px !important;
    }
}
@media (max-width: 767px) {
    .filter-layer-footer {
        margin-bottom: 100px;
    }

    .ad-box > * {
        display: none;
    }
}