.banner-box {
    width: 100vw;
    height: 400px;
    background-color: black;
    position: relative;
}

.banner {
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    /* background-color: bisque; */
}

.wrapper{
  /* width:600px; */
  /* margin:50px auto; */
  /* height:400px; */
  width: 100%;
  height: 100%;
  position:relative;
  color:#fbfbfb;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  /* width:600px; */
  /* width: 100%; */
  max-width: 1080px;
  height: 100%;
  /* height:400px; */
  position:relative;
  overflow:hidden;
}

#slider-wrap ul#slider{
  width:100%;
  height:100%;
  
  position:absolute;
  top:0;
  left:0;   
  margin:0 !important;
  padding:0 !important;
  list-style:none;
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  /* width:600px; */
  /* height:400px;  */
  /* width: 100%; */
  width: 100%;
  height: 100%;
}

#slider-wrap ul#slider li > div{
  text-align: center;
  position:absolute;
  /* top:20px; */
  /* left:35px;   */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#slider-wrap ul#slider li > div h3{
  font-size:36px;
  text-transform:uppercase; 
}

#slider-wrap ul#slider li > div span{
  /* font-family: Neucha, Arial, sans serif; */
  font-size:21px;
}

#slider-wrap ul#slider li > div button{
  width: 150px;
  height: 39px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
#slider-wrap ul#slider li img{
  display:block;
  /* width:100%; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
  /* float: left; */
}


/*btns*/
/* .btns{
  position:absolute;
  width:50px;
  height:50px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
} */

/* .btns-box {
  width: 17.5vw;
  height: 100%;
  float: left;
  position: relative;
} */

#previous::after {
  position: absolute;
  left: 25px; 
  top: 50%; 
  content: '';
  width: 20px; /* 사이즈 */
  height: 20px; /* 사이즈 */
  border-left: 5px solid rgba(255, 255, 255, 0.5); /* 선 두께 */
  border-bottom: 5px solid rgba(255, 255, 255, 0.5); /* 선 두께 */
  transform: rotate(45deg) translateY(-50%); /* 각도 */
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 1;
}
#previous:hover::after {
  border-left: 5px solid white; /* 선 두께 */
  border-bottom: 5px solid white; /* 선 두께 */
}

#next::after {
  position: absolute;
  right: 42px; 
  top: 50%; 
  content: '';
  width: 20px; /* 사이즈 */
  height: 20px; /* 사이즈 */
  border-top: 5px solid rgba(255, 255, 255, 0.5); /* 선 두께 */
  border-right: 5px solid rgba(255, 255, 255, 0.5); /* 선 두께 */
  transform: rotate(45deg) translateY(-50%); /* 각도 */
  cursor: pointer;
  transition: all 0.5s ease;
}
#next:hover::after {
  border-top: 5px solid white; /* 선 두께 */
  border-right: 5px solid white; /* 선 두께 */
}

#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  /* margin-top:350px; */
  margin-top: 375px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fbfbfb;
  opacity:0.5;
  position:relative;
  top:0;
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px; 
}

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}

.ad-box-pos {
  left: 50%; position: absolute; transform: translateX(-50%)
}

.ad-box-pos.fixed {
  top: 50%; transform: translate(-50%, -50%);
}

.mobile-ad-box {
  width: 100vw;
  height: 60px;
  float: left;
  background-color: #FBFBFB;
  display: none;
  position: relative;
}

.mobile-ad-box-js {
  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

@media (max-width: 810px) {
  .banner-box {
    height: 250px;
  }

  #pagination-wrap{
    margin-top: 225px;
  }

  #counter {
    top: 10px;
    right: 15px;
    font-size: 14px;
  }

  #pagination-wrap ul li.active{
    width:9px;
    height:9px;
  }
}

@media (max-width: 767px) {
  .ad-box > * {
    display: none;
  }

  .mobile-ad-box {
    display: block;
  }

  #slider-wrap ul#slider li > div button {
    width: 90px;
    height: 24px;
    font-size: 12px;
  }

  #next::after {
    width: 20px; height: 20px; border-top: 3px solid rgba(255, 255, 255, 0.5); border-right: 3px solid rgba(255, 255, 255, 0.5);
    right: 16px;
  }

  #previous::after {
    width: 20px; height: 20px; border-bottom: 3px solid rgba(255, 255, 255, 0.5); border-left: 3px solid rgba(255, 255, 255, 0.5);
    left: 4px;
  }

  #next:hover::after {
    border-top: 3px solid white;
    border-right: 3px solid white;
  }

  #previous:hover::after {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
}

@media (max-width: 540px) {
  .banner-box {
    height: 200px;
  }

  #pagination-wrap{
    margin-top: 175px;
  }

  #counter {
    font-size: 12px;
  }

  #pagination-wrap ul li.active{
    width:6px;
    height:6px;
  }
}

