input:focus {
  outline: none;
}

.u-header {
  border-bottom: 1px solid #EEEEEE;
}

.mypage-box.nav-up {
  width: 100vw; height: calc(100vh - 84px); top: 84px;
  transition: all 0.2s;
}

.mypage-box.nav-down {
  width: 100vw; height: calc(100vh);
  transition: all 0.2s;
}

.mypage-nav-box.nav-up {
  width: 300px; float: left; height: calc(100vh - 84px); position: fixed; box-shadow: 4px 0px 5px 2px rgba(135, 135, 135, 0.12); top: 84px;
  transition: all 0.2s;
}

.mypage-nav-box.nav-down {
  width: 300px; float: left; height: calc(100vh); position: fixed; box-shadow: 4px 0px 5px 2px rgba(135, 135, 135, 0.12);
  transition: all 0.2s;
}

.tab {
  width: 100%;
  height: 10vh;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab.checked, .tab:hover {
  background-color: #F4F4F4;
  border-left: 10px solid #EEEEEE;
}

.tab .icon-box {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

.tab .icon {
  width: 18px;
  height: 24px;
  left: 50px;
  position: absolute;
  background: url(../necessary/bookmark.svg) no-repeat center center/18px auto;
}

.tab.checked .icon, .tab:hover .icon {
  background: url(../necessary/bookmark_checked.svg) no-repeat center center/18px auto;
}

.tab .icon2 {
  width: 24px;
  height: 24px;
  left: 50px;
  position: absolute;
  background: url(../necessary/checked_shoe.svg) no-repeat center center/24px auto;
}

.tab.checked .icon2, .tab:hover .icon2 {
  background: url(../necessary/checked_shoe_checked.svg) no-repeat center center/24px auto;
}

.tab .icon3 {
  width: 24px;
  height: 24px;
  left: 50px;
  position: absolute;
  background: url(../necessary/commented.svg) no-repeat center center/24px auto;
}

.tab.checked .icon3, .tab:hover .icon3 {
  background: url(../necessary/commented_checked.svg) no-repeat center center/24px auto;
}

.tab .icon4 {
  width: 24px;
  height: 24px;
  left: 50px;
  position: absolute;
  background: url(../necessary/setting.svg) no-repeat center center/24px auto;
}

.tab.checked .icon4, .tab:hover .icon4 {
  background: url(../necessary/setting_checked.svg) no-repeat center center/24px auto;
}



.tab .title-box {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

.tab .title {
  margin: 0px;
  font-size: 22px;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
}



.tab.checked .title, .tab:hover .title {
  font-weight: 600;
  color: rgba(34, 34, 34, 1);
}

.delete-tab {
  width: 100%;
  height: 10vh;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.delete-tab .title-box {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

.delete-tab .title {
  margin: 0px;
  font-size: 22px;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
}

.delete-tab .icon-box {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  float: left;
}

.delete-tab .icon5 {
  width: 24px;
  height: 24px;
  left: 50px;
  position: absolute;
  background: url(../necessary/unhappy.svg) no-repeat center center/24px auto;
}

.delete-tab.checked .icon5, .delete-tab:hover .icon5 {
  background: url(../necessary/unhappy_checked.svg) no-repeat center center/24px auto;
}

.delete-tab.checked .title, .delete-tab:hover .title {
  font-weight: 600;
  color: red;
}

.grid-wrapper {
  float: left;
  /* width: 65vw; */
  width: 100%;
  /* height: 33vh; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: 410px;
  column-gap: 30px;
  row-gap: 0px;
}

.grid-box {
  padding: 15px 5px;
  cursor: pointer;
}

.delete-box .delete-box-logo {
  text-align: center;
  padding-bottom: 50px;
}

.delete-box-logo .delete-box-logo-image {
  width: 120px;
}

.delete-btn {
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}







/* 탈퇴 시 체크 */
.checkbox-icon {
  /* position: absolute; */
  /* top: 12px; */
  /* padding-top: 12px; */
  padding-right: 6px;
}

.checkbox-icon input {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-icon .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  border-radius: 50%;
  box-sizing: border-box;
  /* vertical-align: middle; */
  vertical-align: -1px;
}

.checkbox-icon input:checked+.icon{
  background: #000 url(../images/icon_checkbox.avif) 50% 50% no-repeat;
  background-size: 12px auto;
  border-color: #000;
}

input[type="checkbox"] {
  padding: 0;
}
/* ----------- 탈퇴 시 체크 */


/* 비밀번호 숨기기 해제 기능 */
.password-icon-hide {
  position: absolute;
  /* top: 19%; */
  top: 0%;
  left: 88%;
  width: 24.96px;
  height: 24.96px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='icon_hide' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23aaa%7D %3C/style%3E%3C/defs%3E%3Cg id='Group_1125' data-name='Group 1125' transform='translate(-1012.324 -46.665)'%3E%3Cpath id='Path_1139' data-name='Path 1139' class='cls-1' d='m1031.666 54.624-3.009 3.009a4.426 4.426 0 0 1-5.364 5.367l-2.044 2.044a10.869 10.869 0 0 0 3.076.447 11.981 11.981 0 0 0 10.518-6.823 13.4 13.4 0 0 0-3.177-4.044z'/%3E%3Cpath id='Path_1140' data-name='Path 1140' class='cls-1' d='m1032.283 49.689-3.237 3.236a10.908 10.908 0 0 0-4.721-1.084 11.982 11.982 0 0 0-10.519 6.824 13.054 13.054 0 0 0 4.491 5.009l-3.967 3.967h2.037l17.952-17.952zm-7.958 6.726a2.236 2.236 0 0 0-2.011 3.242l-1.6 1.6a4.373 4.373 0 0 1-.854-2.591 4.464 4.464 0 0 1 4.464-4.464 4.372 4.372 0 0 1 2.59.854l-1.6 1.6a2.22 2.22 0 0 0-.989-.241z'/%3E%3C/g%3E%3Cpath id='Rectangle_1862' data-name='Rectangle 1862' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}

.password-icon-hide.active {
  background-image: url("data:image/svg+xml,%0A%3Csvg id='icon_show' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%23ababab%7D %3C/style%3E%3C/defs%3E%3Cg id='Group_1126' data-name='Group 1126' transform='translate(-1058.596 -46.665)'%3E%3Ccircle id='Ellipse_128' data-name='Ellipse 128' class='cls-1' cx='2.25' cy='2.25' r='2.25' transform='translate(1068.346 56.415)'/%3E%3Cpath id='Path_1141' data-name='Path 1141' class='cls-1' d='M1070.6 51.841a11.98 11.98 0 0 0-10.518 6.824 11.519 11.519 0 0 0 21.036 0 11.98 11.98 0 0 0-10.518-6.824zm0 11.287a4.463 4.463 0 1 1 4.464-4.463 4.464 4.464 0 0 1-4.464 4.463z'/%3E%3C/g%3E%3Cpath id='Rectangle_1863' data-name='Rectangle 1863' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}
/* -----------비밀번호 숨기기 해제 기능 */


/* 비밀번호 x버튼 기능 */
.password-icon-close {
  display: none;
}

.password-icon-close.active {
  display: block;
  position: absolute;
  top: 0%;
  left: 75%;
  width: 24.96px;
  height: 24.96px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle data-name='타원 113' cx='8' cy='8' r='8' transform='translate(4 4)' style='fill:%23ababab'/%3E%3Cg data-name='Group 1124'%3E%3Cpath data-name='Path 1138' d='m16.04 15.031-3.03-3.03 3.03-3.03-1.01-1.01-3.03 3.03-3.03-3.03-1.01 1.01 3.03 3.03-3.03 3.03 1.01 1.01 3.03-3.03 3.031 3.03z'/%3E%3C/g%3E%3Cpath data-name='Rectangle 2097' style='fill:none' d='M0 0h24v24H0z'/%3E%3C/svg%3E%0A");
}
/* ----------비밀번호 x버튼 기능 */

.setting-content {
  width: calc(100vw - 300px); left: 300px; height: 100%; float: left; position: relative; padding: 50px 100px 0px;  display: none;
}

.setting-content.on {
  display: flex !important; flex-direction: column; justify-content: space-between;
}

.profile-img-change-btn, .nickname-change-btn, .profile-change-btn, .member-delete-btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background: #EEE;
  color: #333;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

.password-change-btn {
  /* width: 120px; */
  height: 40px;
  border-radius: 10px;
  background: #EEE;
  color: #333;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.5s;
  float: left;
}

.profile-img-change-btn:hover, .profile-change-btn:hover, .nickname-change-btn:hover, .password-change-btn:hover, .member-delete-btn:hover {
  color: #EEE;
  background: #333;
}

.fileUpload-msg {
  margin: 0 !important; color: #333; font-size: 10px; font-weight: 500;
}