html {
    overflow: hidden;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.wh80 {
    width: 80%;
    height: 80%;
}

.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #EEEEEE;
}

.content .box {
    height: calc(100vh - 25px);
    width: auto;
    top: 2.5vh;
}

.box .bigText {
    margin: 0px;
    font-size: 4.17vw;
}

.box .smallText {
    margin: 0px;
    font-weight: 100;
    /* font-size: 2.09vw; */
    font-size: 1.9vw;
}

.box .black-btn {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.box .dotPadding {
    height: 100%;
    width: 10%;
    float: left;
    padding: 30vh 0px;
}

.box .dot {
    width: 100%;
    height: 33.33%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3.6vh 2.09vw;
}

.box .dot-btn {
    width: 0.81vw;
    height: 1.4vh;
}

.box1 .leftbox {
    height: calc(100vh - 25px);
    width: 50%; 
    float: left;
    padding: 10vh 0px 10vh 2.32vw;
}

.box1 .leftbox .leftboxPadding {
    width: 100%;
    height: 100%;
    padding: 5vh 2.9vw;
}

.box1 .leftbox .leftboxPadding .leftboxPadding-box {
    width: 100%;
    height: 100%;
    padding: 10vh 0vw 20vh 0vw;
}

.box1 .leftbox .leftboxPadding .leftboxPadding-box .leftboxPadding-box-1 {
    width: 100%;
    /* height: 50%; */
    height: 40%;
    /* padding: 13vh 0vw 0vh 0.58vw; */
    /* padding: 8vh 0px 0px 0.58vw; */
    padding: 50px 0px 0px 0.58vw;
}

.box1 .leftbox .leftboxPadding .leftboxPadding-box .leftboxPadding-box-2 {
    width: 100%;
    /* height: 50%; */
    height: 40%;
    padding: 0vh 0vw 1vh 0.58vw;
    margin-top: 4vh;
}

.box1 .black-btn {
    width: 10.43vw;
    height: 4vh;
    font-size: 1.16vw;
    margin-top: 4vh;
}

.box1 .rightbox {
    height: calc(100vh - 25px);
    width: 50%;
    float: left;
    padding: 5vh 2.9vw 5vh 0px;
}

.box1 .rightbox .rightboxPadding {
    height: 100%;
    width: 90%;
    float: left;
    padding: 10vh 4.35vw 5vh 1.45vw;
}

/* .box2 .leftbox {
    height: calc(100vh - 25px);
    width: 50%;
    float: left;
    padding: 10vh 0px 10vh 2.32vw;
} */

.box2 .leftbox {
    height: calc(100vh - 25px);
    width: 92.395%;
    float: left;
    padding: 10vh 0vw 10vh 7.61vw;
}

.box2 .leftbox .leftboxPadding {
    width: 100%;
    height: 100%;
    padding: 100px 200px;
}

.box2 .leftbox .leftboxPadding .leftboxPadding-box-1 {
    width: 100%;
    height: 70%;
    position: relative;
}

.leftboxPadding-box-1 .image {
    position: absolute;
    
}

.image.i1 {
    height: 100%;
}

.image.i2 {
    left: 0px;
    bottom: 0px;
    height: 80px;
}

.image.i3 {
    top: 0px;
    right: 0px;
    height: 100px;
}

.image.i4 {
    height: 100px;
}

.box2 .leftbox .leftboxPadding .leftboxPadding-box-2 {
    width: 100%;
    height: 20%;
    text-align: center;
}

.box2 .leftbox .leftboxPadding .leftboxPadding-box-3 {
    width: 100%;
    height: 10%;
    text-align: center;
}


/* .box2 .rightbox {
    height: calc(100vh - 25px);
    width: 50%;
    float: left;
    padding: 5vh 2.9vw 5vh 0vw;
} */

.box2 .rightbox {
    height: calc(100vh - 25px);
    width: 7.605%;
    float: left;
    padding: 5vh 2.9vw 5vh 0vw;
}

/* .box2 .rightbox .rightboxPadding {
    height: 100%;
    width: 90%;
    float: left;
    padding: 10vh 4.35vw 5vh 1.45vw;
} */

.box2 .rightboxPadding {
    float: left;
    padding: 30vh 0vw 30vh 0vw;
}

/* .box2 .rightbox .rightboxPadding .rightboxPadding-box {
    position: relative;
}

.box2 .rightbox .rightboxPadding .rightboxPadding-box .rightboxPadding-box-1 {
    width: 80%;
    height: 80%;
    z-index: 1;
    position: absolute;
}

.box2 .rightbox .rightboxPadding .rightboxPadding-box .rightboxPadding-box-2 {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: 0px;
    right: 0px;
    z-index: 0;
} */

.box3 .leftbox {
    height: calc(100vh - 25px);
    width: 92.395%;
    float: left;
    padding: 10vh 0vw 10vh 7.61vw;
}

.box3 .leftbox .leftboxPadding {
    padding: 20vh 17.38vw 20vh 17.38vw;
}

.box3 .leftbox .leftboxPadding .leftboxPadding-box-1 {
    width: 100%;
    height: 40%;
    padding-top: 5vh;
}

.box3 .bigText, .box3 .smallText {
    text-align: center;
}

.box3 .leftbox .leftboxPadding .leftboxPadding-box-2 {
    width: 100%;
    height: 30%;
    padding-top: 1vh;
}

.box3 .leftbox .leftboxPadding .leftboxPadding-box-3 {
    width: 100%;
    height: 30%;
    text-align: center;
}

.box3 .black-btn {
    width: 10.43vw;
    height: 4vh;
    font-size: 1.16vw;
}

.box3 .rightbox {
    height: calc(100vh - 25px);
    width: 7.605%;
    float: left;
    padding: 5vh 2.9vw 5vh 0vw;
}

.box3 .rightboxPadding {
    float: left;
    padding: 30vh 0vw 30vh 0vw;
}

@media (max-height: 1080px) {
    .leftboxPadding-box {
        padding: 0px !important;
    }
    .bigText {
        font-size: 3.48vw !important;
    }
    .smallText {
        font-size: 1.74vw !important;
    }
    .box1 .leftboxPadding-box-1 {
        padding: 23vh 0px 0px 0.58vw !important;
    }
    /* .leftboxPadding-box-2 {
        margin-top: 4vh !important;
    } */
}

@media (max-width: 1920px) {
    .box3 .bigText {
        font-size: 2.78vw !important;
    }
    .box3 .smallText {
        font-size: 1.39vw !important;
    }
}

.snow {
    z-index: -1;
    width: 17.38vw;
    height: 30vh;
    animation: snow 10s linear;
}

.shoe {
    z-index: -1;
    width: 17.38vw;
    height: 30vh;
    animation: shoe 10s linear;
}

.snow > img {
    width: 17.38vw;
    height: 30vh;
}
.shoe > img {
    width: 17.38vw;
    height: 30vh;
}

@keyframes snow {
    0% {
        opacity: 0.5;
        transform: translateY(-100vh);
    } /*
    20% {
        transform: translateY(20vh) ;
    }
    40% {
        transform: translateY(40vh);
    }
    50% {
        transform: translateY(50vh);
    }
    60% {
        transform: translateY(60vh);
    }
    80% {
        transform: translateY(80vh);
    } */
    100% {
        opacity: 0.5;
        transform: translateY(100vh) rotate(360deg);
    }
}

@keyframes shoe {
    0% {
        opacity: 0.5;
        transform: translateY(-100vh);
    } 
    100% {
        opacity: 0.5;
        transform: translateY(100vh) rotate(360deg);
    }
}

.text::after, .text3::after, .text5::after{
    content: '';
    margin-left: .4rem;
    border-right: 10px solid black;
    animation: cursor .9s infinite steps(2);
  }
  
  @keyframes cursor {
    from { border-right: 20px solid #EEEEEE; }
    to { border-right: 20px solid black; }
  }

  .textremove::after {
    animation: none;
  }

  .text2::after {
    content: '';
    margin-left: .4rem;
    animation: cursor .9s infinite steps(2) ;
    animation-delay: 2500ms;
  }

  .text4.delay::after {
    content: '';
    margin-left: .4rem;
    animation: cursor .9s infinite steps(2) ;
    animation-delay: 1500ms;
  }

  .text6.delay::after {
    content: '';
    margin-left: .4rem;
    animation: cursor .9s infinite steps(2) ;
    animation-delay: 1000ms;
  }